{% extends 'base.html' %}

{% block head_section %}
    <title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

{% endblock %}



{% block content %}
{% include 'password_recovery/password_recovery.html' %}
{% endblock %}

{% block scripts %}
{% include 'password_recovery/password_recovery.js' %}
{% endblock %}

