<!-- templates/partials/baustellen_list_section.html -->

	<div class="my-statistics centered-text">
        <div class="marker-limit-info">
      <h3 style="font-weight:bold;" id="Partizipative_Planung_Fragen_Baustelle-count">Baustellen: {{ Partizipative_Planung_Fragen_Baustelle|length }}</h3>
</div>
</div>
<div class="stats-container2" id="Partizipative_Planung_Fragen_Baustelle-list-container">
    {% for baustelle in Partizipative_Planung_Fragen_Baustelle %}
    <div class="stat-box2" id="baustelle-{{ baustelle.id }}">
        <div><strong>Name:</strong> {{ baustelle.name }}</div>
        <div><strong>Beschreibung:</strong> {{ baustelle.description }}</div>
        <div><strong>Erstellt am:</strong> {{ baustelle.date.strftime('%d.%m.%Y %H:%M:%S') }}</div>
        <div><a href="/Partizipative_Planung_Fragen_Baustelle/{{ baustelle.id }}" class="btn btn-primary register-button">Anzeigen</a></div>
        <button type="button" class="btn btn-danger delete-baustelle register-button" onclick="confirmDeleteBaustelle({{ baustelle.id }})" style="margin-top: 3px;">Löschen</button>
    </div>
    {% else %}
    <p>Keine Baustellen gefunden.</p>
    {% endfor %}
</div>
