<!-- Comments Section Partial -->
<div class="my-comments centered-text">
    <h1>Meine Kommentare:</h1>
    <p>Sie haben <span style="color: #003056;">{{ user_statistics.num_comments }} Kommentar(e)</span>.</p>
    <div class="project-list">
        {% if comment_pagination and comment_pagination.items %}
            {% for comment, project_name in comment_pagination.items %}
                <div class="project-thumbnail">
                    <!-- Comment Text -->
                    <h3 style="font-style: italic;">"{{ comment.text }}"</h3>
                    <!-- Project Name -->
                    <p>Commented on project: <a href="{{ url_for('project_details', project_id=comment.project_id) }}">{{ project_name }}</a></p>
                    <!-- Posted Date -->
                    <p>Gepostet am: {{ comment.timestamp.strftime('%d.%m.%Y') }}</p>
                    <!-- Delete Button for Comment -->
                    <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="POST">
                        <input type="submit" class="register-button" style="font-weight: bold;" value="Delete Comment">
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>Keine Kommentare gefunden.</p>
        {% endif %}
    </div>
   <!-- Pagination for Comments -->
    {% if comment_pagination.pages > 1 %}
        <nav aria-label="Comment Page navigation">
            <ul class="pagination">
                <!-- Update links to include project_page and map_object_page -->
                {% if comment_pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('profil', project_page=project_page, map_object_page=map_object_page, comment_page=comment_pagination.prev_num) }}">Zurück</a>
                    </li>
                {% endif %}
                {% for page in comment_pagination.iter_pages() %}
                    <li class="page-item {{ 'active' if page == comment_pagination.page else '' }}">
                        <a class="page-link" href="{{ url_for('profil', project_page=project_page, map_object_page=map_object_page, comment_page=page) }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if comment_pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('profil', project_page=project_page, map_object_page=map_object_page, comment_page=comment_pagination.next_num) }}">Weiter</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>