<!-- templates/partials/question_list_section.html -->
<div class="projects-header">
        <div class="marker-limit-info">
<h3 style="font-weight:bold;" id="questions-count">{{ questions|length }} Fragen.</h3>
<h3 style="font-weight:bold;">Beantwortete Fragen: {{ answered_questions_count }} von {{ questions|length }}.</h3>
<h3 style="font-weight:bold;">Unbeantwortete Fragen: {{ unanswered_questions_count }} von {{ questions|length }}.</h3>

	  	  </div>
	  	  </div>

{% set total_count = 0 %}
{% set answered_count = 0 %}
{% set unanswered_count = 0 %}
{% for question in questions %}
    {% if question.answered %}
        {% set answered_count = answered_count + 1 %}
    {% else %}
        {% set unanswered_count = unanswered_count + 1 %}
    {% endif %}
    {% set total_count = total_count + 1 %}
{% endfor %}
<p>
</p>

<div class="stats-container" id="question-list-container">
    {% for question in questions %}
    <div class="project-thumbnail" id="question-{{ question.id }}">
        <div><strong>Frage:</strong> {{ question.text }}</div>
        <div style="display:none;"><strong>Author:</strong> {{ question.author }}</div>
        <div><strong>Am:</strong> {{ question.date.strftime('%d.%m.%Y %H:%M') }}</div>
        {% if question.answered %}
            <div><strong>Antwort:</strong> {{ question.answer_text }}</div>
            <div><strong>Am:</strong> {{ question.answer_date.strftime('%d.%m.%Y %H:%M') }}</div>
			        <div><strong>Baustelle #</strong><a href="/Partizipative_Planung_Fragen_Baustelle/{{ question.baustelle_id }}" style="font-weight: bold;">{{ question.baustelle_id }}</a></div>

        {% else %}
            <form method="POST" class="answer-question-form" data-question-id="{{ question.id }}">
                <input type="hidden" name="question_id" value="{{ question.id }}">
<textarea name="answer_text" rows="10" placeholder="Guten Tag..." class="full-width-textarea"></textarea>
               <button type="button" class="btn btn-primary submit-answer register-button">Antworten</button>
            </form>
        {% endif %}
        <!-- "Löschen" button outside the if-else block -->
<button onclick="location.href='/Partizipative_Planung_Fragen_Baustelle/{{ question.baustelle_id }}?centerOnMarker={{ question.id }}'" class="btn register-button">Auf der Karte anzeigen</button>

        <button type="button" class="btn btn-danger delete-question register-button" onclick="confirmDeleteQuestion({{ question.id }})" style="margin-top: 3px !important;">Löschen</button>
    </div>
    {% else %}
    <h3>Keine Fragen gefunden.</h3>
    {% endfor %}
</div>
