    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">
<html lang="en">
  <head>
  <div class ="edge">
<div class="form-container">
<div class="logo-container" onclick="window.location.href='/'">
  <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
</div>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Passwort bestätigen</title>
</head>
<body>
  <h3>Sie sind fast mit Ihrer Kontoerstellung fertig.</h3>
  <h3>Geben Sie den Code ein, der an Ihr Telefon gesendet wurde, um Ihre Registrierung zu bestätigen!</h3>
  <form action="{{ url_for('verify_otp') }}" method="post">
    <input type="text" name="otp" placeholder="Passwort eingeben" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required class="input">
    <button type="submit" class="button">Verifizieren</button>
  </form>
</div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var backgroundNumber = Math.floor(Math.random() * 12) + 1; // Generates a random number between 1 and 12
    document.body.style.backgroundImage = 'url(/static/background' + backgroundNumber + '.png)';
  });
</script>