<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stimmungskompass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">
</head>
<body>
<div class="edge">

<div class="form-container">
    <div class="logo-container" onclick="window.location.href='/'">
        <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
    </div>

        <div class="login-section">
        <h3>Ihre Registrierung ist abgeschlossen!</h3>
		<p>Erfahren Sie mehr über die verschiedenen Arten von Beiträgen, die Sie einreichen können.</p>

    </div>

        <button  id="toggle-proposals-btn" style="margin-top:10px;" class="register-button">Projektvorschläge</button>
        <div class="section-content" id="proposals-section" style="display: none;">
            <p>Ausgearbeitete Ideen für neue Investitionen der Gemeinde in Infrastruktur, Parks, Dienstleistungen, Öffi, Radwege, kulturelle Veranstaltungen usw.</p>
            <p>Die Menschen können über Projektvorschläge abstimmen und kommentieren. Die Gemeinde kann aus den erfolgreichsten Projekten wählen!</p>
        </div>
        <button id="toggle-notes-btn" style="margin-top:10px;" class="register-button">Notizen</button>
        <div class="section-content" id="notes-section" style="display: none;">
            <p>Eine einfache Möglichkeit, Ihre Gemeinde und andere Menschen darüber zu informieren, wie Sie über verschiedene Orte der Stadt denken. Notizen sind anonym.</p>
        </div>
        <button  id="toggle-questions-btn" style="margin-top:10px;" class="register-button">Fragen zu Bauprojekten stellen:</button>
        <div class="section-content" id="questions-section" style="display: none;">
            <p>Stellen Sie Fragen zu geplanten Investitionen der Gemeinde! Sie können Input dazu geben, wie z.B. eine Straße revitalisiert werden sollte, was Ihnen in einem öffentlichen Raum wichtig ist usw.</p>
        </div>
</div>
</div>

<div class="stats-container" style="margin-bottom:20px;">
        <a href="/" class="register-button" style="background-color: none!important; width: 30%;">OK!</a>
</div>

<script src="{{ url_for('static', filename='registered.js') }}"></script>
</body>
</html>
