{% extends 'base.html' %}

{% block head_section %}
    <title>Open Data - Stimmungskompass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profil.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

{% endblock %}

{% block header %}
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'profil/profil.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer/index.html' %}
{% endblock %}

{% block scripts %}
{% include 'profil/profil.js' %}
{% endblock %}

