<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Optionen</title>
<link rel="stylesheet" href="{{ url_for('static', filename='admin_options.css') }}">
</head>
<body>
    <div class="container mt-5">
    <div class="row justify-content-center">
  <div class="logo-container" onclick="redirectToIndex()">
  <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
</div>
        <div class="col-12 text-center">
            <h2 class="centered-title">Was möchten Sie machen?</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-4 option-buttons">
        <div class="col-12 col-sm-6 text-center mb-2">
            <a href="{{ url_for('admintools') }}" class="btn btn-primary register-button">Admintools</a>
        </div>
        <div class="col-12 col-sm-6 text-center mb-2">
            <a href="{{ url_for('neuebaustelle') }}" class="btn btn-secondary register-button">Neue Baustelle posten</a>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
