{% extends 'base.html' %}

{% block head_section %}
    <title>Project Detail</title>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='Partizipative_Planung_Vorschlag.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>

{% endblock %}

{% block header %}
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'Partizipative_Planung_Vorschlag/Partizipative_Planung_Vorschlag.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer/index.html' %}
{% endblock %}

{% block scripts %}
{% include 'Partizipative_Planung_Vorschlag/Partizipative_Planung_Vorschlag.js' %}
{% endblock %}

