
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">
    <meta name="google-signin-client_id" content="695509729214-orede17jk35rvnou5ttbk4d6oi7oph2i.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
</head>
<body>
<div class ="edge">
    <div class="form-container">
        <div class="logo-container" onclick="redirectToIndex()">
            <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
        </div>
        <div class="login-section">
            <div style="text-align: center !important; margin-top: 10px;">
                <h3>Melden Sie sich ein, um Beiträge und Kommentare zu posten.</h3>
            </div>
            <a href="{{ url_for('google_login') }}" class="button" style="display:block">Mit Google anmelden</a>
            <button id="custom-apple-signin-button" class="button" style="margin-top: 15px; color: white; display:none;">Mit Apple anmelden</button>
            <button id="toggle-form-btn" class="register-button" style="font-weight:bold">Mit Handynummer anmelden</button>
            <div class="login-form" id="login-form" style="display: none;">
                <form action="{{ url_for('login', next=next) }}" method="post">
                    <input type="text" name="username_or_phone" placeholder="Ihre Handynummer" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required>
                    <input type="password" name="password" placeholder="Passwort" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required>
                    <button type="submit" class="register-button" style="font-weight: bold; margin-top: 0px;">Anmelden</button>
                </form>
            </div>
            <a href="/register" class="register-button">Registrieren</a>
            <a href="{{ url_for('password_recovery') }}" class="register-button">Passwort zurücksetzen</a>
            <div class="register-section">
                <p>Haben Sie noch kein Konto?</p>
                <p>Registrieren Sie sich, um beizutragen!</p>
                <p>Sie benötigen ein Konto, um Projektvorschläge zu machen, Abzustimmen oder Kommentare zu schreiben.</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    AppleID.auth.init({
        clientId: 'com.ermine.stimmungskompass',
        scope: 'name email',
        redirectURI: '{{ url_for("authorize_apple", _external=True) }}',
        state: 'state',
        usePopup: true
    });

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('custom-apple-signin-button').addEventListener('click', function() {
            AppleID.auth.signIn();
        });
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var backgroundNumber = Math.floor(Math.random() * 12) + 1;
    document.body.style.backgroundImage = 'url(/static/background' + backgroundNumber + '.png)';
});

document.getElementById('toggle-form-btn').addEventListener('click', function() {
    var form = document.getElementById('login-form');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
});

document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form");
    form.onsubmit = function(event) {
        event.preventDefault();
        fetch(form.action, {
            method: 'POST',
            body: new FormData(form)
        }).then(response => response.json()).then(data => {
            if (data.success) {
                window.location.href = data.next || "{{ url_for('index') }}";
            } else {
                alert('Anmeldung fehlgeschlagen - ungültige Anmeldedaten.');
            }
        });
    };
});

function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    alert('Google-Anmeldung erfolgreich! Willkommen, ' + profile.getName() + '!');
}

function onFailure(error) {
    alert('Google-Anmeldung fehlgeschlagen. Bitte versuchen Sie es erneut.');
}

function renderButton() {
    gapi.signin2.render('g-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSignIn,
        'onfailure': onFailure
    });
}

function redirectToIndex() {
    window.location.href = '/';
}
</script>
</body>
</html>