<link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">


	<div class ="edge">

<div class="page-container">

 <div class="logo-container" onclick="redirectToIndex()">
    <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
  </div>
  
<div class ="edge">    <!-- Left side - Login Section -->
	
    <div class="login-section">
	
      <div style="text-align: center !important;">
        <h2>Melden Sie sich ein, um Beiträge und Kommentare zu posten.</h2>
      </div>
      <a href="{{ url_for('google_login') }}" class="button">Mit Google anmelden</a>
      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="display:none"></div>
      <button id="toggle-form-btn" class="register-button" style="font-weight:bold">Mit Handynummer anmelden</button>
	        <div class="login-form" id="login-form" style="display: none;">
        <form action="{{ url_for('login', next=next) }}" method="post">
          <input type="text" name="username_or_phone" placeholder="Ihre Handynummer" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required>
          <input type="password" name="password" placeholder="Passwort" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required>
          <button type="submit" class="register-button" style="font-weight: bold; margin-top: 0px;">Anmelden</button>
        </form>
      </div>
	            <a href="/register" class="register-button">Registrieren</a>
          <a href="{{ url_for('password_recovery') }}" class="register-button">Passwort zurücksetzen</a>


      <div class="register-section">
        <p>Haben Sie noch kein Konto?</p>
        <p>Registrieren Sie sich, um beizutragen!</p>
        <p>Sie benötigen ein Konto, um Projektvorschläge zu machen, Abzustimmen oder Kommentare zu schreiben.</p>
      </div>
    </div>
    <!-- Right side - Cover Image Section -->
 
  </div>
    </div>    </div>