    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">
 
  
  <div class ="edge">
<div class="form-container">
 <div class="logo-container" onclick="redirectToIndex()">
    <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
  </div>
      <h2>Erstellen Sie ein Konto.</h2>
      <form action="{{ url_for('register') }}" method="post">
        <div class="form-section">
          <label for="phone"><h3>Handynummer</h3></label>
          <input type="text" name="phone_number" placeholder="Ihre Handynummer"  style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required>
          <label for="password"><h3>Passwort</h3></label>
          <input type="password" id="password" name="password" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required maxlength="100">
          <label for="name"><h3>Benutzername</h3></label>
          <input type="text" id="name" name="name" style="border-radius: 30px; padding: 15px; background-color: white; font-weight: bold; color: black; border: 1px solid #003056; cursor: pointer; width: 100%; box-sizing: border-box;" required maxlength="100">
        </div>
        <div class="checkbox-section" style="margin-top: 10px;">
         <p> <input type="checkbox" id="gdprConsent" name="gdprConsent" required>
          <label for="gdprConsent">Ich stimme der <a href="http://stimmungskompass.ermine.at/GDPR_DSGVO_Impressum#gdpr-section" target="_blank">Datenschutzerklärung</a> zu und erkenne diese an.</label>
        </p></div>
        <p class="informative-text">Außer Ihrem Benutzernamen wird nichts öffentlich angezeigt.</p>
        <p class="informative-text">Sie können Ihre Daten jederzeit in Ihren Profileinstellungen ansehen.</p>
        <button type="submit" class="register-button" style="font-weight: bold;">Registrieren</button>
      </form>

  </div>
    </div>
  </div>