<div class="form-container" >
    <div class="content-container">
      <div class="navigation-links">
        <a href="#impressum-section" class="register-button">Impressum</a>
        <a href="#toc-section" class="register-button">Nutzungsbedingungen</a>
        <a href="#gdpr-section" class="register-button">Datenschutzerklärung</a>
      </div>
      <section id="impressum-section" class="impressum-section">
        <h1>Impressum</h1>
        <p>
          <strong>Verantwortlich für den Inhalt:</strong>
          <br> Lukas Majer <br> Vorgartenstrasse 171/25 <br> 1020 Wien <br> Österreich <br> E-Mail: office@stimmungskompass.at
        </p>
        <h3>Haftungsausschluss:</h3>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>
        <h3>Urheberrecht:</h3>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem österreichischen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
      </section>
      <section id="toc-section" class="toc-section">
        <h1>Willkommen auf Stimmungskompass.at</h1>
        <p>Durch die Nutzung unserer Website erklären Sie sich mit den folgenden Nutzungsbedingungen einverstanden. Bitte lesen Sie diese sorgfältig durch.</p>
        <h2>1. Geltungsbereich</h2>
        <p>Diese Nutzungsbedingungen gelten für alle Nutzer der Website Stimmungskompass.at, unabhängig davon, ob Sie Inhalte hochladen, herunterladen oder einfach nur browsen.</p>
        <h2>2. Dienstleistungsbeschreibung</h2>
        <p>Stimmungskompass.at bietet eine Plattform, auf der Nutzer Inhalte einsehen, erstellen und austauschen können. Wir behalten uns das Recht vor, die angebotenen Dienste jederzeit zu ändern oder einzustellen.</p>
        <h2>3. Registrierung</h2>
        <p>Um auf bestimmte Funktionen der Website zuzugreifen, müssen Sie sich möglicherweise registrieren und ein Konto erstellen. Sie verpflichten sich, wahrheitsgemäße und vollständige Informationen zu liefern und Ihr Konto sicher zu halten.</p>
        <h2>4. Nutzerpflichten</h2>
        <p>Sie verpflichten sich, keine rechtswidrigen, missbräuchlichen oder anderweitig unangemessenen Inhalte auf der Website zu veröffentlichen. Stimmungskompass.at behält sich das Recht vor, Inhalte ohne Vorankündigung zu entfernen.</p>
        <h2>5. Urheberrecht</h2>
        <p>Die auf Stimmungskompass.at veröffentlichten Inhalte sind durch das Urheberrecht und andere geistige Eigentumsrechte geschützt. Die Nutzung der Inhalte ist nur im Rahmen der angebotenen Funktionalitäten der Website und unter Einhaltung der Urheberrechte gestattet.</p>
        <h2>6. Haftungsausschluss</h2>
        <p>Die Nutzung der Website erfolgt auf eigenes Risiko. Stimmungskompass.at übernimmt keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte.</p>
        <h2>7. Änderung der Nutzungsbedingungen</h2>
        <p>Stimmungskompass.at behält sich das Recht vor, diese Nutzungsbedingungen jederzeit zu ändern. Die fortgesetzte Nutzung der Website nach solchen Änderungen stellt Ihre Zustimmung zu den neuen Bedingungen dar.</p>
        <h2>8. Gerichtsstand</h2>
        <p>Diese Nutzungsbedingungen unterliegen dem Recht der Republik Österreich. Gerichtsstand ist, soweit gesetzlich zulässig, der Sitz von Stimmungskompass.at.</p>
        <h2>9. Kontakt</h2>
        <p>Bei Fragen zu diesen Nutzungsbedingungen wenden Sie sich bitte an office@stimmungskompass.at.</p>
        <h3>Datum des Inkrafttretens</h3>
        <p>Diese Nutzungsbedingungen treten am 21.2.2024 in Kraft.</p>
      </section>
<section id="gdpr-section" class="gdpr-section">
  <h1>Datenschutzerklärung nach DSGVO</h1>
  <p>
    <strong>Wir, die Betreiber von Stimmungskompass.at, nehmen den Schutz Ihrer persönlichen Daten sehr ernst</strong> und halten uns strikt an die Regeln der Datenschutzgesetze, insbesondere der Europäischen Datenschutz-Grundverordnung (DSGVO). Diese Datenschutzerklärung informiert Sie darüber, wie wir den Schutz Ihrer Daten gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.
  </p>
  <h2>Informationen in Verbindung mit Ihrem Konto</h2>
  <p>
    Die mit Ihrem Konto verknüpften Informationen umfassen:
  </p>
  <ul>
    <li>
      <strong>ID:</strong> Innerhalb unserer Software wird Ihr Konto anhand einer ID-Nummer statt Ihres Benutzernamens identifiziert. Diese ID verknüpft Ihr Konto mit Aktivitäten wie Kommentaren, Posts, Bookmarks usw.
    </li>
    <li>
      <strong>Telefonnummer:</strong> Wird für die Anmeldung und Passwortwiederherstellung verwendet, falls Sie sich mit Ihrer Telefonnummer registrieren. Andernfalls wird dieser Wert nicht angefordert oder gespeichert.
    </li>
    <li>
      <strong>Name:</strong> Dient als Benutzername und ist bei Beiträgen wie Kommentaren oder Projektvorschlägen für andere sichtbar. Dieser Wert kann frei gewählt werden und muss nicht Ihrem echten Namen entsprechen.
    </li>
    <li>
      <strong>Passwort-Hash:</strong> Ihr Passwort.
    </li>
    <li>
      <strong>IP-Adresse:</strong> Wird zur Spam-Prävention und zur Zählung von Aufrufen verwendet. Sie dient dazu, die Anzahl der Beiträge pro IP-Adresse zu begrenzen und Aufrufe für Beiträge zu zählen – pro Projekt wird nur ein Besuch pro IP-Adresse alle 24 Stunden gezählt.
    </li>
    <li>
      <strong>Kontoerstellung:</strong> Datum und Uhrzeit Ihrer Kontoerstellung. Diese Information zeigt an, wie alt Ihr Konto ist und ist in Ihren Profil-Einstellungen sowie für den Administrator sichtbar.
    </li>
    <li>
      <strong>E-Mail bei Google-Konto:</strong> Falls Ihr Konto via Google-Login erstellt wurde, wird die damit verbundene E-Mail-Adresse gespeichert und für die Anmeldung sowie grundlegende Konto-Funktionalitäten verwendet, ähnlich der Telefonnummer.
    </li>
	<li>Die Berechtigung für die Kamera ist erforderlich, um Fotos als Thumbnail für Projekte hochzuladen.    </li>



  </ul>
  <h2>Kontrolle Ihrer Daten</h2>
    <ul>
    <li>
	<strong>Daten löschen:</strong> Sie können jederzeit alle mit Ihnen assoziierten Daten in unseren Datenbanken löschen, über Ihre Profil-Einstellungen.   Ohne Anmeldung können Sie eine Löschung Ihrer Daten anfordern, indem Sie unseren DPO per <a href="mailto:office@stimmungskompass.at">E-Mail</a> (office@stimmungskompass.at) kontaktieren.
	</li>
	
    <li>
<strong>Kopie Ihrer Daten herunterladen:</strong> Ebenso können Sie eine Kopie aller mit Ihnen assoziierten Daten aus unserer Datenbank herunterladen, entweder über Ihre Profil-Einstellungen oder indem Sie unseren DPO per <a href="mailto:office@stimmungskompass.at">E-Mail</a> (office@stimmungskompass.at) kontaktieren.
	</li>
  </ul>


  <h2>Datensicherheit</h2>
  <p>Wir verwenden technische und organisatorische Sicherheitsmaßnahmen, um Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder den Zugriff unberechtigter Personen zu schützen.</p>
  <h2>Änderungen dieser Datenschutzerklärung</h2>
  <p>Wir behalten uns vor, diese Datenschutzerklärung zu ändern, um sie an geänderte Rechtslagen oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen. Wir empfehlen Ihnen daher, sich regelmäßig über den Schutz Ihrer Daten zu informieren.</p>
  <h2>Kontakt</h2>
  <p>Für Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten sowie Widerruf erteilter Einwilligungen wenden Sie sich bitte an:  <a href="mailto:office@stimmungskompass.at">E-Mail</a> (office@stimmungskompass.at)</p>
  <h3>Datum des Inkrafttretens</h3>
  <p>Diese Datenschutzerklärung tritt am 17.3.2024 in Kraft.</p>
</section>

    </div>
  </div>
</div>