.user-count-container {
	margin-bottom: 20px;
	/* Add margin to create space below */
	clear: both;
	/* Clear both sides to ensure a new line */
}

.user-search-container {
	margin-top: 20px;
	margin-bottom: 10px;
	clear: both;
	/* Clear both sides to ensure a new line */
}


.centered-text {
	text-align: center;
}

/* Style for buttons inside filter-overlay to match nav-overlay links */
#filter-overlay .c-button {
	background-color: transparent;
	/* Same as nav-overlay links */
	color: white;
	/* Text color to match nav-overlay links */
	border: none;
	/* Remove borders */
	padding: 10px;
	/* Padding similar to nav-overlay links */
	font-size: 24px;
	/* Font size similar to nav-overlay links */
	text-decoration: none;
	/* Remove underline */
	display: block;
	/* Display as block for full-width click area */
	text-align: center;
	/* Center text */
	transition: background-color 0.3s ease, color 0.3s ease;
	/* Smooth transition for hover effect */
	cursor: pointer;
	/* Cursor on hover */
	margin-bottom: 0px !important;
	/* Space between buttons */
}

/* Hover effect for buttons inside filter-overlay */
#filter-overlay .c-button:hover {
	background-color: #02569d;
	/* Background color on hover */
	color: #f5f1e4;
	/* Text color on hover */
}

/* Style for active button */
.c-button.active {
	background-color: #4CAF50;
	/* Green background for active button */
	color: white;
	/* White text for better visibility */
}


.average-description-length {
	font-size: 20px;
	/* Makes text larger */
	margin-bottom: 10px;
	/* Adds a gap below the text */
	display: block;
	/* Ensures margin-bottom is applied */
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 60%;
	margin: auto;
	padding: 20px;
	background: white;
	border-radius: 10px;
}

.closebtn {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	cursor: pointer;
}

#projectsList {
	list-style-type: none;
}


.stats-container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.stats-container2 {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.stat-box {
	background-color: #f5f5f5;
	/* Example background color */
	margin: 5px;
	padding: 5px;
	border-radius: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	flex-basis: calc(30% - 10px);
	/* For desktop */
	max-width: calc(30% - 10px);
}


.stat-box3 {
	background-color: #f5f5f5;
	/* Example background color */
	margin: 5px;
	padding: 5px;
	border-radius: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	flex-basis: calc(33.333% - 20px);
	/* For desktop */
}

.stat-box2 {
	background-color: #f5f5f5;
	/* Example background color */
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


@media (min-width: 1080px) and (max-width: 1445px) {
	.stat-box {
		flex-basis: calc(50% - 10px) !important;
		/* For tablet */
		max-width: calc(50% - 20px) !important;

	}
}

@media (max-width: 1080px) {
	.stat-box {
		flex-basis: 100% !important;
		/* For mobile */
		max-width: 100% !important;
		/* For mobile */
	}

	.stat-box3 {
		flex-basis: 100%;
		/* For mobile */
	}
}


body {
	font-family: MaisonNeue, Segoe UI, Helvetica Neue, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	background-color: #f5f1e4;
	color: black;
	margin: 0;
	padding: 0;
	text-align: center;
	/* Center text globally */
}

.c-button {
	border-radius: 10px;
	padding: 12px;
	background-color: white;
	font-weight: bold;
	color: black;
	border: none;
	cursor: pointer;
	margin: 10px;
	transition: background-color 0.3s;
}

.c-button.active {
	background-color: #4CAF50;
	/* Green background for active button */
	color: white;
}

#filter-form-mobile {
	display: none;
	/* Hidden by default */
}

img {
	border-radius: 30px;
	transition: width 0.3s ease;
}

.logo {
	max-width: 1000px;
	/* Increase the max-width to make it bigger */
	margin-bottom: 30px;
}

img:hover {
	transform: scale(1.00);
}

.button {
	border-radius: 30px;
	padding: 15px;
	background-color: white;
	font-weight: bold;
	color: black;
	border: none;
	cursor: pointer;
}

.input-field {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #ccc;
}

.form-container {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.project img {
	max-width: 300px;
	/* Adjust the width as needed */
	max-height: 200px;
	/* Adjust the height as needed */
	height: auto;
	/* Maintain aspect ratio */
	width: auto;
	/* Maintain aspect ratio */
	border-radius: 30px;
	/* Optional: if you want rounded corners */
}


.projects-header {
	text-align: center;
	/* Center the content */
	margin-bottom: 20px;
	/* Add some space below the header */
}

.projects-header h1 {
	margin: 0;
	/* Remove default margin */
	padding: 10px 0;
	/* Add some vertical padding */
}

.projects-header p {
	margin: 0;
	/* Remove default margin */
	color: #003056;
	/* Specific color for the undertitle */
	font-style: italic;
	/* Optional: make it italic */
}


/* Style for filter-button on desktop */
.filter-bar .filter-button {
	background-color: #02569d;
	/* Button background color */
	color: white;
	/* Text color */
	border: none;
	/* No border */
	padding: 14px 20px;
	/* Padding inside the button */
	font-size: 16px;
	/* Font size */
	font-weight: bold;
	/* Font weight */
	border-radius: 30px;
	/* Rounded corners */
	cursor: pointer;
	/* Cursor on hover */
	transition: background-color 0.3s ease;
	/* Smooth transition for hover effect */
}

.control-bar {
	background-color: #ddd;
	/* Light grey background */
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


/* Hover effect for filter-button */
.filter-bar .filter-button:hover {
	background-color: #002244;
	/* Darker shade for hover effect */
}

.register-button {
	background-color: #003056;
	/* Example color */
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: bold !important;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 10px 0;
	cursor: pointer;
	box-sizing: border-box;
	/* Include padding in width */
}

.register-button:hover {

	transform: scale(1.00);
	/* Scale up on hover */
}

.register-button2 {
	background-color: #003056;
	/* Example color */
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: bold !important;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
	/* Include padding in width */
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 0.3em;
	/* Adjusted margin at the start */
	margin-block-end: 0.3em;
	/* Adjusted margin at the end */
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: normal;
}


.top-bar {
	background-color: #003056;
	/* Background color of the top bar */
	height: 80px;
	/* Height of the top bar */
	width: 100%;
	/* Full width of the screen */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	/* Add padding to the left and right */
	box-sizing: border-box;
	/* Include padding in width calculation */
	align-items: center;
	/* This ensures vertical alignment */
}

.top-bar a .logo {
	max-width: auto;
	/* Adjust this value as needed */
	max-height: 80px;
	/* Ensure the logo fits within the bar's height */
	margin: auto;
}

/* Styles for buttons inside links in the top bar */
.top-bar a button {
	transition: width 0.3s ease;
	/* Transition for the transform property */
	border-radius: 30px;
	/* If you want to keep the border-radius */
	/* Add any other button-specific styles here */
}

/* Hover effect for buttons inside links in the top bar */
.top-bar a button:hover {
	transform: scale(1.00);
	/* Scale up slightly on hover */
}


/* Hover effect for links in the top bar */
.top-bar a:not(:has(button)):hover::after {
	transform: scaleX(1);
	/* Show the underscore on hover */
	transform-origin: left;
}

.top-bar a {
	color: white;
	text-decoration: none !important;
	margin-right: 20px;
	/* Add spacing between links */
	font-size: 18px;
	/* Increase text size */
	font-weight: bold;
	/* Make text bold */
	position: relative;
	transition: color 0.3s ease, text-shadow 0.3s ease;
	/* Transition for color and text shadow */
}


/* Exclude the logo link from having the underline effect */
.top-bar a[href="/"]:hover::after {
	content: none;
}

/* Underline effect for links that do not contain the logo */
.top-bar a:not(:has(> .logo))::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

/* Centering Pagination Wrapper */
nav[aria-label="Page navigation"] {
	display: flex;
	/* Use flexbox for alignment */
	justify-content: center;
	/* Center horizontally */
	margin: 20px 0;
	/* Add vertical margin for spacing */
}

/* Pagination Container */
.pagination {
	background-color: #003056;
	/* Background color */
	border-radius: 30px;
	/* Border radius */
	padding: 10px;
	/* Inner spacing */
	display: inline-flex;
	/* Align pagination items inline and allow flex properties */
}

/* Pagination Links */
.pagination .page-link {
	color: white;
	background-color: transparent;
	border: none;
	margin: 0 5px;
	text-decoration: none;
	/* Remove underline */
	font-weight: bold;
	/* Make it bold */
}

/* Pagination Items */
.pagination .page-item {
	display: inline-block;
	/* Display items inline */
}

/* Pagination Active Page */
.pagination .page-item.active .page-link {
	background-color: #02569d;
	/* Background for active page */
	border-color: #02569d;
	/* Border for active page */
}

/* Pagination Item Hover */
.pagination .page-item:hover .page-link {
	background-color: #2874A6;
	/* Slightly lighter blue on hover */
	border-color: #2874A6;
	/* Border color on hover */
}

.control-bar .button {
	margin: 5px;
	/* Adds margin around each button */
	transition: background-color 0.3s;
	/* Smooth transition for color change */
}

.control-bar .button.active {
	background-color: #003056;
	/* Changes the color when active */
	color: white;
	/* Adjust text color for better visibility */
}


/* Additional styles for .logo to ensure it fits well in the top bar */
.top-bar a .logo {
	max-width: auto;
	/* Adjust this value as needed */
	max-height: 80px;
	/* Ensure the logo fits within the bar's height */
	margin: auto;
}

.top-bar a:hover {
	color: #a8c0ff;
	/* Change color on hover */
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
	/* Add text shadow on hover */
}

.top-bar a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

/* Hover effect for buttons inside links in the top bar */
.top-bar a button:hover {
	transform: scale(1.00);
	/* Scale up slightly on hover */
}

.voting-bar {
	width: 90%;
	height: 20px;
	background-color: #ddd;
	border-radius: 30px !important;
	margin-top: 0px;
	display: flex;
}

.upvotes {
	height: 100%;
	background-color: #4caf50;
	border-radius: 30px;
	transition: width 0.3s ease;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This should ensure the container takes at least the height of the viewport */
}

.content-wrapper {
  flex: 1; /* This ensures that it takes up all available space */
  display: flex;
  flex-direction: column;
}

.bottom-bar {
  background-color: #003056;
  color: white;
  text-align: center;
  padding: 1px 0;
  width: 100%;
}


.downvotes {
	height: 100%;
	background-color: #9A031E;
	border-radius: 30px;
	transition: width 0.3s ease;
}

.upvotes,
.downvotes {
	/* Existing styles */
	position: relative;
	/* Ensure the position is relative for child positioning */
}

.upvotes span,
.downvotes span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	/* Choose a contrasting color */
	font-size: 12px;
	/* Adjust the font size */
	white-space: nowrap;
	pointer-events: none;
	/* Prevents blocking click events */
}


.export-section {
	background-color: #f8f9fa;
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.export-section h2 {
	color: #333;
	margin-bottom: 15px;
}

.export-section .filter-options>div {
	margin-bottom: 10px;
}

/* Underline effect for links that do not contain buttons */
.top-bar a:not(:has(> button))::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

/* Hover effect to show underline for links that do not contain buttons */
.top-bar a:not(:has(> button)):hover::after {
	transform: scaleX(1);
}

.logged-in-info {
	text-align: center;
	/* Centers the text inside the div */
	padding: 2px 0;
	/* Adds some padding above and below the text */
	background-color: #f5f1e4;
	/* Optional: background color, if you want to highlight the div */
	/* Andere styling as needed, such as font size, color, etc. */
}


.filter-bar {
	background-color: #111111;
	/* Existing background color */
	height: 80px;
	/* Existing height */
	width: 100%;
	/* Full width */
	display: flex;
	justify-content: center;
	/* Center content horizontally */
	align-items: center;
	/* Center content vertically */
	padding: 0 20px;
	/* Existing padding */
	box-sizing: border-box;
	flex-wrap: nowrap;
	/* Existing no-wrap */
}

#filter-form {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Center form contents */
	width: 100%;
	/* Use the full width of the parent */
	max-width: 800px;
	/* Set a max-width if needed */
}

.filter-item {
	margin: 0 10px;
	/* Add some horizontal spacing between items */
}

/* You might need to adjust the width of inputs/selects inside filter-items */
.filter-item input,
.filter-item select {
	width: auto;
	/* Adjust width as needed */
}

.filter-bar .filter-item label {
	font-size: 18px;
	/* Adjust the font size for labels */
}

.filter-item {
	display: flex;
	align-items: center;
	margin-right: 20px;
	/* Spacing between filter items */
}

.filter-item label {
	color: white;
	margin-right: 10px;
	/* Spacing between label and input/select */
}

/* Apply styles to fields within .filter-bar */
.filter-bar input,
.filter-bar select {
	border-radius: 30px;
	padding: 15px;
	background-color: white;
	font-weight: bold;
	color: black;
	border: none;
	cursor: pointer;
}


.index-image {
	width: 100%;
	object-fit: cover;
	/* Crop the image when necessary */
	max-height: 500px;
	/* Set a maximum height if needed */
	border-radius: 0;
	/* Remove border-radius */
	transition: none !important;
	/* Remove hover effect */
	transform: none !important;
}

.cover-text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
	/* Black background with 70% opacity */
	padding: 20px;
	border-radius: 30px;
	text-align: center;
}

.cover-text-container h1 {
	font-size: 40px;
	color: white;
	margin: 0;
	padding-bottom: 10px;
}

.cover-text-container p {
	font-size: 30px;
	color: white;
	margin: 0;
}

.info-box-container {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.info-box {
	background-color: #1b1b1b;
	border-radius: 30px;
	padding: 20px;
	text-align: center;
	transition: width 0.3s ease;
	width: 30%;
	/* Set a fixed width for each box */
}

.info-box:hover {
	transform: scale(1.00);
}

.info-box-icon {
	max-width: 70px;
	/* Icon size */
	border-radius: 50%;
	/* Make it circular */
}

.info-box-title {
	color: white;
	font-size: 30px;
	margin: 10px 0;
}

.info-box-undertitle {
	color: white;
	font-size: 16px;
}


.c-button {
	/* Your existing button styles */
	margin: 5px;
	transition: background-color 0.3s;
}

.c-button.active {
	background-color: green;
	/* Green color for active button */
	color: white;
}

/* Specific colors for each box */
.box-red {
	background-color: #06467c;
}

.box-blue {
	background-color: #02569d;
}

.box-green {
	background-color: #2874A6;
}

.info-text-field {
	background-color: #e5e2d5;
	/* Light grey background */
	width: 100%;
	/* Full width */
	height: 400px;
	/* Specified height */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	/* Include padding in width calculation */
}

.info-text-container {
	width: 50%;
	/* Width of the text container */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.info-text-title {
	font-size: 30px;
	color: black;
	margin-bottom: 10px;
}

.info-text-undertitle {
	font-size: 20px;
	color: black;
	margin-top: 10px;
}

.project-list#user-list-container {
	width: 100%;
	/* Full width */
	display: flex;
	/* Use flexbox for layout */
	flex-wrap: wrap;
	/* Allow items to wrap */
	justify-content: space-evenly;
	/* Even spacing between items */
	align-items: flex-start;
	/* Align items to start vertically */
}

/* Base styles for user thumbnails */
.user-thumbnail {
	background-color: #f5f5f5;
	/* Example background color */
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Styling the scrollbar */
::-webkit-scrollbar {
	width: 12px;
	/* Adjust the width of the scrollbar */
}

/* Styling the track of the scrollbar */
::-webkit-scrollbar-track {
	background: #f5f1e4;
	/* Light grey track */
	border-radius: 10px;
	/* Round corners of the track */
}

/* Styling the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
	background: #9b9b9b;
	/* Black thumb */
}

/* Hover effect on the thumb of the scrollbar */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* Darker shade of grey on hover */
}

/* Hover effect for user thumbnails */
.user-thumbnail:hover {
	transform: scale(1.00);
	/* Slight scale on hover */
}

/* Style for the details inside user thumbnails */
.user-thumbnail .project-details {
	text-align: center;
	/* Center the text */
	width: 100%;
	/* Take full width */
}

/* Responsive design for different screen sizes */
@media (min-width: 1445px) {
	.user-thumbnail {
		width: calc(33.333% - 20px);
		/* Three items per row */
	}
}

@media (min-width: 1080px) and (max-width: 1445px) {
	.user-thumbnail {
		flex-basis: calc(50% - 20px);
		/* Two items per row */
	}
}

@media (max-width: 1088px) {
	.user-thumbnail {
		flex-basis: calc(100% - 20px);
		/* Full width on smaller screens */
	}
}

/* Base styles for project thumbnails */
.project-thumbnail {
	background-color: #f9f8f5;
	border-radius: 30px;
	margin: 10px;
	padding: 10px;
	display: flex;
	/* Changed to flex to better control the layout */
	flex-direction: column;
	/* Stack items vertically */
	align-items: center;
	/* Center items horizontally */
	box-sizing: border-box;
	transition: width 0.3s ease;
	position: relative;
	overflow: visible;
	/* Ensure the content is not clipped */

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-out; /* Adjusted for shadow or other properties */
    will-change: auto; /* Default state, only specify if needed for performance */
    /* Removed transform scale to prevent blurriness */
}

.user-info {
	color: white;
	/* Set the text color to match other links */
	margin-right: 20px;
	/* Right margin for spacing */
	font-size: 18px;
	/* Font size similar to other links */
	font-weight: bold;
	/* Bold text */
	align-self: center;
	/* Align vertically within the flex container */

}

/* Hover effect for project thumbnails */
   .project-thumbnail:hover {
     transform: scale(1.005);
     transition: width 0.3s ease;
	     box-shadow: 0 10px 15px rgba(0,0,0,0.1); /* Example shadow */

   }
/* Image style within project thumbnails */
.project-thumbnail img {
	width: 90%;
	margin-top: 20px;
	height: 400px;
	/* Fixed height for images */
	object-fit: cover;
	border-radius: 30px;
}

/* Text style inside project thumbnails */
.project-thumbnail h2,
.project-thumbnail p {
	margin: 0;
	padding: 5px 0;
	width: 90%;
	/* Adjust the width to match the image */
	text-align: center;
	/* Center the text */
}

.project-thumbnail p {
	font-family: 'Open Sans', sans-serif;
	/* Change to your preferred font */
	position: relative;
	bottom: auto;
	overflow: visible;
	text-align: center;
	width: 100%;
	display: block;
	font-weight: normal;
	/* Ensure the font weight is normal */
}


/* Desktop screens (larger than 1200px) */
@media (min-width: 1445px) {
	.project-thumbnail {
		width: calc(33.333% - 20px);
		/* Three items per row */
		height: auto;
		/* Height adjusts based on content */
	}
}

/* Medium screens (between 1024px and 1199px) */
@media (min-width: 1080px) and (max-width: 1445px) {
	.project-thumbnail {
		width: calc(50% - 20px);
		/* Two items per row */
		height: auto;
		/* Height adjusts based on content */
	}
}

/* Mobile screens (less than 1024px) */
@media (max-width: 1088px) {
	.project-thumbnail {
		width: calc(100% - 20px);
		/* Full width */
		height: auto;
		/* Height adjusts based on content */
	}

	.project-thumbnail img {
		height: auto;
		/* Adjust image height for mobile */
	}
}

.comment-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* Center items */
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

ul {
	list-style-type: none;
	/* Removes bullet points */
	padding-left: 0;
	/* Removes default padding */
}

.comment-thumbnail {
	background-color: #f9f8f5;
	/* Similar background color */
	border-radius: 10px;
	/* Rounded corners */
	padding: 10px;
	/* Padding inside each thumbnail */
	display: flex;
	/* Use flexbox for layout */
	flex-direction: column;
	/* Stack items vertically */
	align-items: center;
	/* Center items horizontally */
	box-sizing: border-box;
	/* Include padding and border in width/height */
	transition: width 0.3s ease;
	/* Smooth scaling on hover */
	position: relative;
	/* Position relative for any positioned children */
	overflow: hidden;
	/* Hide overflow */
	width: calc(33.333% - 20px);
	/* Three items per row */
	margin: 10px;
	/* Adjust margin as needed */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}


@media (min-width: 1080px) and (max-width: 1445px) {
	.comment-thumbnail {
		flex-basis: calc(50% - 20px);
		/* Two items per row */
		width: calc(50% - 20px);
		/* Explicitly set width */
	}
}

@media (max-width: 1088px) {
	.comment-thumbnail {
		flex-basis: 100%;
		/* Full width on smaller screens */
		width: 100%;
		/* Explicitly set width */
	}
}

/* Hover effect for comment thumbnails */
.comment-thumbnail:hover {
	transform: scale(1.00);
	/* Slight scale on hover */
}

/* Style for the details inside comment thumbnails */
.comment-thumbnail .comment-details {
	text-align: center;
	/* Center the text */
	width: 100%;
	/* Take full width */
}


@media (min-width: 1080px) {
	.comment-thumbnail {
		width: calc(50% - 20px);
		/* Two items per row */
	}
}

@media (max-width: 1088px) {
	.comment-thumbnail {
		width: calc(100% - 20px);
		/* Full width on smaller screens */
	}
}

.pagination-container {
	width: 100%;
	/* Make the container take full width */
	display: flex;
	/* Use flexbox for layout */
	justify-content: center;
	/* Center pagination horizontally */
	margin-top: 20px;
	/* Add some space above the pagination */
}

.project-list {
	display: flex;
	/* Use flexbox for layout */
	flex-wrap: wrap;
	/* Allow items to wrap to next line */
	justify-content: center;
	/* Center items horizontally */
	align-items: flex-start;
	/* Align items to the start of the container vertically */
}

/* Overlay styles */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	align-items: center;
	justify-content: center;
}

.overlay-content {
	background-color: white;
	border-radius: 30px;
	padding: 20px;
	max-width: 80%;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}

/* Modal Styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


@media only screen and (max-width: 1445px) {
	.top-bar a button {
		transition: width 0.3s ease;
		/* Transition for the transform property */
		border-radius: 30px;
		/* If you want to keep the border-radius */
		padding: 7px;
		/* Add any other button-specific styles here */
	}


	.c-button {
		border-radius: 10px;
		padding: 6px;
		background-color: white;
		font-weight: bold;
		color: black;
		border: none;
		cursor: pointer;
		margin: 10px;
		transition: background-color 0.3s;
	}


}

a {
	color: #003056;
	/* Set the color of links */
	text-decoration: none;
	/* Optional: removes underline from links */
}

a:hover {
	text-decoration: underline;
	/* Optional: underline on hover */
}


#hamburger-button {
	display: none;
	/* Hidden by default */
}

#hamburger-button-filter {
	display: none;
	/* Hidden by default */
}

@media only screen and (max-width: 1080px) {

	html,
	body {
		height: 100%; /* Ensure the root elements span the full height */
		max-width: 100vw;
		/* Prevent horizontal overflow */
		overflow-x: hidden;
		/* Hide horizontal scrollbar */
	}

	#nav-links .user-info {
		display: block;
		/* Make it a block element */
		width: 100%;
		/* Full width */
		text-align: center;
		/* Center text horizontally */
		margin: 10px 0;
		/* Optional: adjust top and bottom margin as needed */
	}

	body {
		font-size: 14px;
		/* Smaller font size */
	}

	.top-bar {
		flex-direction: column;
		/* Stack items vertically */
		height: auto;
		/* Adjust height automatically */
	}

	.form-container {
		width: 90%;
		/* Full width with some margin */
		padding: 20px;
		/* Smaller padding */
	}

	.publish-button {
		font-size: 18px;
		/* Slightly smaller font size */
		padding: 15px 0;
		/* Adjust padding */
	}

	.filter-bar .filter-button {
		/* Add any desktop-specific styles here */
		padding: 10px 20px;
		/* Example: different padding */
		margin-left: 10px;
		/* Add space between button and preceding elements */
	}

	/* Hamburger Menu Button */
	#hamburger-button {
		display: none;
		/* Hidden by default */
		font-size: 30px;
		/* Icon size */
		color: white;
		/* Icon color */
		background: none;
		/* No background */
		border: none;
		/* No border */
		cursor: pointer;
		/* Pointer cursor */
	}

	#hamburger-button-filter {
		display: none;
		/* Hidden by default */
		font-size: 20px;
		/* Icon size */
		color: white;
		/* Icon color */
		background-color: #111111;
		/* No background */
		border: none;
		/* No border */
		cursor: pointer;
		/* Pointer cursor */
	}

	/* Navigation Overlay */
	.nav-overlay {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Fixed position */
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.9);
		/* Semi-transparent black */
		overflow-x: hidden;
		/* Hide horizontal overflow */
		transition: 0.5s;
		/* Smooth transition for opening/closing */
		z-index: 1000;
		/* High z-index to ensure it's on top */
	}


	#filter-overlay {
		display: none;
		/* Hidden by default */
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.9);
		overflow-x: hidden;
		/* Hide horizontal overflow */
		transition: 0.5s;
		z-index: 1000;
		align-items: center;
		/* Center content vertically */
		justify-content: center;
		/* Center content horizontally */
	}

	.nav-overlay-active .main-content {
		pointer-events: none;
	}


	/* Mobile Devices */
	@media only screen and (max-width: 1080px) {

		html,
		body {
			max-width: 100vw;
			/* Prevent horizontal overflow */
			overflow-x: hidden;
			/* Hide horizontal scrollbar */
		}

		#hamburger-button {
			display: block;
			/* Show the button on mobile */
		}

		#hamburger-button-filter {
			display: block;
			/* Show the button on mobile */
			width: 100%;
			/* Make it span the entire width of the screen */
			text-align: center;
			/* Center the icon/text inside the button */
			padding: 10px 0;
			/* Adjust padding as needed for better touch area */

		}

		.top-bar a .logo {
			margin-left: auto;
			/* Adjust logo position */
			margin-right: auto;
		}

		/* Specific styles for filter form in overlay */
		('overlay').style.display='none';
	}

	#filter-overlay {
		display: none;
		/* Hidden by default */
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.9);
		overflow-x: hidden;
		/* Hide horizontal overflow */
		transition: 0.5s;
		z-index: 1000;
		align-items: center;
		/* Center content vertically */
		justify-content: center;
		/* Center content horizontally */
	}

	#filter-form-mobile {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		/* Stretch items to fill the width */
		justify-content: center;
		padding: 20px;
		width: 90%;
		max-width: 400px;
		margin: auto;
		border-radius: 30px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}


	#filter-form-mobile .filter-button {
		padding: 15px 15px;
		background-color: #003056;
		/* Adjust the color as needed */
		color: white;
		border: none;
		border-radius: 30px;
		font-size: 16px;
		cursor: pointer;
		text-align: center;
		width: 100%;
		margin-top: 10px;
	}

	#filter-form-mobile .filter-button:hover {
		background-color: #004680;
		/* Darker shade for hover effect */
	}


	#filter-form-mobile #search {
		width: 100%;
		padding: 15px;
		/* Adjust padding if necessary */
		margin-bottom: 10px;
		/* Consistent margin with other fields */
		border-radius: 30px;
		/* Consistent border-radius with other fields */
		border: 1px solid #ccc;
		/* Consistent border */
		font-size: 16px;
		/* Consistent font size */
		box-sizing: border-box;
		/* Include padding and border in width */
	}

	#filter-form-mobile .filter-item {
		flex-direction: column;
		/* Stack elements vertically */
		align-items: center;
		/* Center items horizontally */
		width: 100%;
		/* Ensure each item takes full width */
		margin-bottom: 10px;
		/* Spacing between filter items */
	}


	.filter-input {
		width: 100%;
		/* Ensures full width */
		padding: 10px 15px;
		/* Consistent padding for all elements */
		border-radius: 5px;
		/* Consistent border-radius */
		border: 1px solid #ccc;
		/* Consistent border style */
		font-size: 16px;
		/* Consistent font size */
		box-sizing: border-box;
		/* Include padding and border in the element's total width and height */
	}

	/* Style for input and select elements in filter-form-mobile */
	#filter-form-mobile .filter-item input,
	#filter-form-mobile .filter-item select {
		width: 100%;
		outline: 5px solid #003056;
		padding: 15px;
		margin-bottom: 10px;
		border-radius: 30px;
		border: 1px solid #ccc;
		font-size: 16px;
		box-sizing: border-box;
	}

	/* Style for labels (titles) in filter-form-mobile */
	#filter-overlay #filter-form-mobile .filter-item label {
		display: block;
		font-weight: bold;
		font-size: 30px;
		/* Increased font size for clarity */
		margin-bottom: 5px;
		/* Space between label and field */
		text-align: center !important;
		/* Force center align the text */
	}

	/* Ensure filter bar is hidden on mobile */
	.filter-bar {
		display: none;
	}

	/* Additional styles for filter overlay to prevent overflow */
	#filter-overlay {
		overflow-y: auto;
		/* Enable vertical scrolling if needed */
	}

	#nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	#nav-links a {
		padding: 20px;
		/* Larger clickable area */
		font-size: 24px;
		/* Larger font size */
	}
}

/* Mobile Devices */
@media only screen and (max-width: 1080px) {

	html,
	body {
		max-width: 100vw;
		/* Prevent horizontal overflow */
		overflow-x: hidden;
		/* Hide horizontal scrollbar */
	}

	.top-bar {
		flex-direction: row;
		/* Align items horizontally */
		justify-content: space-between;
		/* Space between items */
		align-items: center;
		/* Vertically center items */
		padding: 10px 15px;
		/* Consistent padding */
	}

	.filter-bar {
		display: none;
	}

	.top-bar a {
		display: flex;
		/* Flex container for the logo */
		align-items: center;
		/* Vertically center logo */
		margin: 0;
		/* Remove any default margin */
	}

	.top-bar a .logo {
		max-width: 270px;
		/* Adjust logo size */
		max-height: 350px;
		/* Adjust height automatically */
	}

	#hamburger-button {
		display: block;
		/* Show the button on mobile */
		margin: 0;
		/* Remove any margin */
		align-self: center;
		/* Explicitly center the button vertically */
	}

	#hamburger-button-filter {
		display: block;
		/* Show the button on mobile */
		margin: 0;
		/* Remove any margin */
		align-self: center;
		/* Explicitly center the button vertically */
	}

	#nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		#nav-links a {
			padding: 20px;
			/* Padding for each link */
			font-size: 24px;
			/* Font size for links */
		}
	}
}