   body {
     font-family: MaisonNeue, Segoe UI, Helvetica Neue, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

     background-color: #f5f1e4;
     color: black;
     margin: 0;
     /* Remove default margin */
     padding: 0;
     /* Remove default padding */
   }

   #filter-form-mobile {
     display: none;
     /* Hidden by default */
   }

   img {
     border-radius: 30px;
     transition: width 0.3s ease;
   }

   .logo {
     max-width: 1000px;
     /* Increase the max-width to make it bigger */
     margin-bottom: 30px;
   }



   .button {
     border-radius: 30px;
     padding: 15px;
     background-color: white;
     font-weight: bold;
     color: black;
     border: none;
     cursor: pointer;
   }

   .input-field {
     border-radius: 5px;
     padding: 5px;
     border: 1px solid #ccc;
   }

   .form-container {
     margin: auto;
     width: 50%;
     padding: 10px;
   }

   .project img {
     max-width: 300px;
     /* Adjust the width as needed */
     max-height: 200px;
     /* Adjust the height as needed */
     height: auto;
     /* Maintain aspect ratio */
     width: auto;
     /* Maintain aspect ratio */
     border-radius: 30px;
     /* Optional: if you want rounded corners */
   }


   .projects-header {
     text-align: center;
     /* Center the content */
     margin-bottom: 20px;
     /* Add some space below the header */
   }

   .projects-header h1 {
     margin: 0;
     /* Remove default margin */
     padding: 10px 0;
     /* Add some vertical padding */
   }

   .projects-header p {
     margin: 0;
     /* Remove default margin */
     color: #003056;
     /* Specific color for the undertitle */
     font-style: italic;
     /* Optional: make it italic */
   }













   .info-image {
     width: 50px;
     height: 50px;
     border-radius: 50px;
     object-fit: cover;
   }

   .info-image:hover {
     transform: scale(1) !important;
   }

   #replay-image {
     cursor: pointer;
     /* Resize to 30% of the original size */
     width: 30%;
     height: auto;
     /* Maintain aspect ratio */
     margin-top: 20px;
     /* Space between the video and replay button */

   }

   #replay-container {
     display: none;
     /* Initially hidden */
     align-items: center;
     /* Center the content horizontally */
     justify-content: center;
     /* Center the content vertically */
     flex-direction: row;
     /* Align children horizontally */
   }


   .video-overlay {
     position: fixed;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.8);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     z-index: 10000;
     padding: 10px;
     box-sizing: border-box;
   }





   /* Styling for the close button */
   .video-overlay button {
     padding: 10px 20px;
     font-size: 18px;
     font-weight: bold;
     cursor: pointer;
     border: none;
     background-color: #003056;
     color: white;
     border-radius: 30px;
     transition: background-color 0.2s ease;
     margin-top: 40px;
     /* Space between the video and replay button */

   }

   /* Hover effect for the close button */
   .video-overlay button:hover {
     transform: scale(1.02);
   }

   /* Base style for the iframe */
   #youtube-iframe {
     max-width: 100%;
     max-height: 100vh;
     border-radius: 30px;
     /* Rounded corners with a radius of 30px */

     /* Media queries to adjust width and height based on screen size */
     @media only screen and (min-width: 1025px) {
       width: 70vw;
       height: calc(70vw * 9 / 16);
       /* Maintain a 16:9 aspect ratio */
     }

     @media only screen and (min-width: 768px) and (max-width: 1024px) {
       width: 80vw;
       height: calc(80vw * 9 / 16);
       /* Maintain a 16:9 aspect ratio */
     }

     @media only screen and (max-width: 767px) {
       width: 90vw;
       height: calc(90vw * 9 / 16);
       /* Maintain a 16:9 aspect ratio */
     }
   }

   .info-link-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0;
     /* Adjust as needed for spacing */
   }

   .info-link img {
     margin-left: 0;
     /* Remove left margin if not needed */
   }













   /* Style for filter-button on desktop */
   .filter-bar .filter-button {
     background-color: #02569d;
     /* Button background color */
     color: white;
     /* Text color */
     border: none;
     /* No border */
     padding: 14px 20px;
     /* Padding inside the button */
     font-size: 16px;
     /* Font size */
     font-weight: bold;
     /* Font weight */
     border-radius: 30px;
     /* Rounded corners */
     cursor: pointer;
     /* Cursor on hover */
     transition: background-color 0.3s ease;
     /* Smooth transition for hover effect */
   }

   /* Hover effect for filter-button */
   .filter-bar .filter-button:hover {
     background-color: #002244;
     /* Darker shade for hover effect */
   }


   .top-bar {
     background-color: #003056;
     /* Background color of the top bar */
     height: 80px;
     /* Height of the top bar */
     width: 100%;
     /* Full width of the screen */
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 20px;
     /* Add padding to the left and right */
     box-sizing: border-box;
     /* Include padding in width calculation */
     align-items: center;
     /* This ensures vertical alignment */
   }

   .top-bar a .logo {
     max-width: auto;
     /* Adjust this value as needed */
     max-height: 80px;
     /* Ensure the logo fits within the bar's height */
     margin: auto;
   }

   /* Styles for buttons inside links in the top bar */
   .top-bar a button {
     transition: width 0.3s ease;
     /* Transition for the transform property */
     border-radius: 30px;
     /* If you want to keep the border-radius */
     /* Add any other button-specific styles here */
   }

   /* Hover effect for buttons inside links in the top bar */



   /* Hover effect for links in the top bar */
   .top-bar a:not(:has(button)):hover::after {
     transform: scaleX(1);
     /* Show the underscore on hover */
     transform-origin: left;
   }

   .top-bar a {
     color: white;
     text-decoration: none;
     margin-right: 20px;
     /* Add spacing between links */
     font-size: 18px;
     /* Increase text size */
     font-weight: bold;
     /* Make text bold */
     position: relative;
     transition: color 0.3s ease, text-shadow 0.3s ease;
     /* Transition for color and text shadow */
   }


   /* Exclude the logo link from having the underline effect */
   .top-bar a[href="/"]:hover::after {
     content: none;
   }

   /* Underline effect for links that do not contain the logo */
   .top-bar a:not(:has(> .logo))::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -3px;
     width: 100%;
     height: 2px;
     background-color: white;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.3s;
   }

   /* Centering Pagination Wrapper */
   nav[aria-label="Page navigation"] {
     display: flex;
     /* Use flexbox for alignment */
     justify-content: center;
     /* Center horizontally */
     margin: 20px 0;
     /* Add vertical margin for spacing */
   }

   /* Pagination Container */
   .pagination {
     background-color: #003056;
     /* Background color */
     border-radius: 30px;
     /* Border radius */
     padding: 10px;
     /* Inner spacing */
     display: inline-flex;
     /* Align pagination items inline and allow flex properties */
   }

   /* Pagination Links */
   .pagination .page-link {
     color: white;
     background-color: transparent;
     border: none;
     margin: 0 5px;
     text-decoration: none;
     /* Remove underline */
     font-weight: bold;
     /* Make it bold */
   }

   /* Pagination Items */
   .pagination .page-item {
     display: inline-block;
     /* Display items inline */
   }

   /* Pagination Active Page */
   .pagination .page-item.active .page-link {
     background-color: #02569d;
     /* Background for active page */
     border-color: #02569d;
     /* Border for active page */
   }

   /* Pagination Item Hover */
   .pagination .page-item:hover .page-link {
     background-color: #2874A6;
     /* Slightly lighter blue on hover */
     border-color: #2874A6;
     /* Border color on hover */
   }



   /* Additional styles for .logo to ensure it fits well in the top bar */
   .top-bar a .logo {
     max-width: auto;
     /* Adjust this value as needed */
     max-height: 80px;
     /* Ensure the logo fits within the bar's height */
     margin: auto;
   }

   .top-bar a:hover {
     color: #a8c0ff;
     /* Change color on hover */
     text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
     /* Add text shadow on hover */
   }

   .top-bar a::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -3px;
     width: 100%;
     height: 2px;
     background-color: white;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.3s;
   }

   /* Hover effect for buttons inside links in the top bar */


   .voting-bar {
     width: 90%;
     height: 20px;
     background-color: #ddd;
     border-radius: 30px !important;
     margin-top: 0px;
     display: flex;
   }

   .upvotes {
     height: 100%;
     background-color: #4caf50;
     border-radius: 30px;
     transition: width 0.3s ease;
   }

   .downvotes {
     height: 100%;
     background-color: #9A031E;
     border-radius: 30px;
     transition: width 0.3s ease;
   }

   .upvotes,
   .downvotes {
     /* Existing styles */
     position: relative;
     /* Ensure the position is relative for child positioning */
   }

   .upvotes span,
   .downvotes span {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     /* Choose a contrasting color */
     font-size: 12px;
     /* Adjust the font size */
     white-space: nowrap;
     pointer-events: none;
     /* Prevents blocking click events */
   }




   /* Underline effect for links that do not contain buttons */
   .top-bar a:not(:has(> button))::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -3px;
     width: 100%;
     height: 2px;
     background-color: white;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.3s;
   }

   /* Hover effect to show underline for links that do not contain buttons */
   .top-bar a:not(:has(> button)):hover::after {
     transform: scaleX(1);
   }

   .logged-in-info {
     text-align: center;
     /* Centers the text inside the div */
     padding: 2px 0;
     /* Adds some padding above and below the text */
     background-color: #f5f1e4;
     /* Optional: background color, if you want to highlight the div */
     /* Andere styling as needed, such as font size, color, etc. */
   }


   .filter-bar {
     background-color: #111111;
     /* Existing background color */
     height: 80px;
     /* Existing height */
     width: 100%;
     /* Full width */
     display: flex;
     justify-content: center;
     /* Center content horizontally */
     align-items: center;
     /* Center content vertically */
     padding: 0 20px;
     /* Existing padding */
     box-sizing: border-box;
     flex-wrap: nowrap;
     /* Existing no-wrap */
   }

   /* Styling the scrollbar */
   ::-webkit-scrollbar {
     width: 12px;
     /* Adjust the width of the scrollbar */
   }

   /* Styling the track of the scrollbar */
   ::-webkit-scrollbar-track {
     background: #f5f1e4;
     /* Light grey track */
     border-radius: 10px;
     /* Round corners of the track */
   }

   /* Styling the thumb of the scrollbar */
   ::-webkit-scrollbar-thumb {
     background: #9b9b9b;
     /* Black thumb */
   }

   /* Hover effect on the thumb of the scrollbar */
   ::-webkit-scrollbar-thumb:hover {
     background: #555;
     /* Darker shade of grey on hover */
   }

   #filter-form {
     display: flex;
     align-items: center;
     justify-content: center;
     /* Center form contents */
     width: 100%;
     /* Use the full width of the parent */
     max-width: 800px;
     /* Set a max-width if needed */
   }

   .filter-item {
     margin: 0 10px;
     /* Add some horizontal spacing between items */
   }

   /* You might need to adjust the width of inputs/selects inside filter-items */
   .filter-item input,
   .filter-item select {
     width: auto;
     /* Adjust width as needed */
   }

   .filter-bar .filter-item label {
     font-size: 18px;
     /* Adjust the font size for labels */
   }

.filter-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

   .filter-item label {
     color: white;
     margin-right: 10px;
     /* Spacing between label and input/select */
   }

   /* Apply styles to fields within .filter-bar */
   .filter-bar input,
   .filter-bar select {
     border-radius: 30px;
     padding: 15px;
     background-color: white;
     font-weight: bold;
     color: black;
     border: none;
     cursor: pointer;
   }



   .index-image {
     width: 100%;
     object-fit: cover;
     /* Crop the image when necessary */
     max-height: 500px;
     /* Set a maximum height if needed */
     border-radius: 0;
     /* Remove border-radius */
     transition: none !important;
     /* Remove hover effect */
     transform: none !important;
   }

   .cover-text-container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(0, 0, 0, 0.8);
     /* Black background with 70% opacity */
     padding: 20px;
     border-radius: 30px;
     text-align: center;
   }

   .cover-text-container h1 {
     font-size: 40px;
     color: white;
     margin: 0;
     padding-bottom: 10px;
   }

   .cover-text-container p {
     font-size: 30px;
     color: white;
     margin: 0;
   }

   .info-box-container {
     display: flex;
     justify-content: space-evenly;
     padding: 20px;
   }

   .info-box {
     background-color: #1b1b1b;
     border-radius: 30px;
     padding: 20px;
     text-align: center;
     transition: width 0.3s ease;
     width: 30%;
     /* Set a fixed width for each box */
   }

   .info-box:hover {
     transform: scale(1.005);
   }

   .info-box-icon {
     max-width: 70px;
     /* Icon size */
     border-radius: 50%;
     /* Make it circular */
   }

   .info-box-title {
     color: white;
     font-size: 30px;
     margin: 10px 0;
   }

   .info-box-undertitle {
     color: white;
     font-size: 16px;
   }

   /* Specific colors for each box */
   .box-red {
     background-color: #06467c;
   }

   .box-blue {
     background-color: #02569d;
   }

   .box-green {
     background-color: #2874A6;
   }

   .info-text-field {
     background-color: #F4F4F8;
     /* Light grey background */
     width: 100%;
     /* Full width */
     height: 400px;
     /* Specified height */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 20px;
     box-sizing: border-box;
     /* Include padding in width calculation */
   }

   .info-text-container {
     width: 50%;
     /* Width of the text container */
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px;
   }

   .info-text-title {
     font-size: 30px;
     color: black;
     margin-bottom: 10px;
   }

   .info-text-undertitle {
     font-size: 20px;
     color: black;
     margin-top: 10px;
   }

   /* Base styles for project thumbnails */
   .project-thumbnail {
     background-color: #f9f8f5;
     border-radius: 30px;
     margin: 10px;
     padding: 10px;
     display: flex;
     /* Changed to flex to better control the layout */
     flex-direction: column;
     /* Stack items vertically */
     align-items: center;
     /* Center items horizontally */
     box-sizing: border-box;
     transition: width 0.3s ease;
     position: relative;
     overflow: visible;
     /* Ensure the content is not clipped */
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

   }


   .user-info {
     color: white;
     /* Set the text color to match other links */
     margin-right: 20px;
     /* Right margin for spacing */
     font-size: 18px;
     /* Font size similar to other links */
     font-weight: bold;
     /* Bold text */
     align-self: center;
     /* Align vertically within the flex container */
   }

   /* Hover effect for project thumbnails */
   .project-thumbnail:hover {
     transform: scale(1.005);
     transition: width 0.3s ease;
   }

   /* Image style within project thumbnails */
   .project-thumbnail img {
     width: 90%;
     margin-top: 20px;
     height: 400px;
     /* Fixed height for images */
     object-fit: cover;
     border-radius: 30px;
   }

   /* Text style inside project thumbnails */
   .project-thumbnail h2,
   .project-thumbnail p {
     margin: 0;
     padding: 5px 0;
     width: 90%;
     /* Adjust the width to match the image */
     text-align: center;
     /* Center the text */
   }

   /* Remove absolute positioning from the description */
   .project-thumbnail p {
     position: relative;
     /* Changed from absolute to relative */
     bottom: auto;
     /* Remove bottom positioning */
     overflow: visible;
     /* Ensure text is not clipped */
   }

   /* Desktop screens (larger than 1200px) */
   @media (min-width: 1445px) {
     .project-thumbnail {
       width: calc(33.333% - 20px);
       /* Three items per row */
       height: auto;
       /* Height adjusts based on content */
     }
   }

   /* Medium screens (between 1024px and 1199px) */
   @media (min-width: 1080px) and (max-width: 1445px) {
     .project-thumbnail {
       width: calc(50% - 20px);
       /* Two items per row */
       height: auto;
       /* Height adjusts based on content */
     }
   }

   /* Mobile screens (less than 1024px) */
   @media (max-width: 1088px) {
     .project-thumbnail {
       width: calc(100% - 20px);
       /* Full width */
       height: auto;
       /* Height adjusts based on content */
     }

     .project-thumbnail img {
       height: auto;
       /* Adjust image height for mobile */
     }
   }



   .project-list {
     text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }

   /* Overlay styles */
   .overlay {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     z-index: 999;
     align-items: center;
     justify-content: center;
   }

   .overlay-content {
     background-color: white;
     border-radius: 30px;
     padding: 20px;
     max-width: 80%;
   }

   .close-btn {
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
     display: none;
   }

   /* Modal Styles */
   .modal {
     display: none;
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.4);
   }

   .modal-content {
     background-color: #fefefe;
     margin: 10% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
   }

   .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
   }

   .close:hover,
   .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
   }


   @media only screen and (max-width: 1445px) {
     .top-bar a button {
       transition: width 0.3s ease;
       /* Transition for the transform property */
       border-radius: 30px;
       /* If you want to keep the border-radius */
       padding: 7px;
       /* Add any other button-specific styles here */
     }
   }

   #hamburger-button {
     display: none;
     /* Hidden by default */
   }

   #hamburger-button-filter {
     display: none;
     /* Hidden by default */
   }

   @media only screen and (max-width: 1080px) {

     html,
     body {
       max-width: 100vw;
       /* Prevent horizontal overflow */
       overflow-x: hidden;
       /* Hide horizontal scrollbar */
     }

     #nav-links .user-info {
       display: block;
       /* Make it a block element */
       width: 100%;
       /* Full width */
       text-align: center;
       /* Center text horizontally */
       margin: 10px 0;
       /* Optional: adjust top and bottom margin as needed */
     }

     body {
       font-size: 14px;
       /* Smaller font size */
     }

     .top-bar {
       flex-direction: column;
       /* Stack items vertically */
       height: auto;
       /* Adjust height automatically */
     }

     .form-container {
       width: 90%;
       /* Full width with some margin */
       padding: 20px;
       /* Smaller padding */
     }

     .publish-button {
       font-size: 18px;
       /* Slightly smaller font size */
       padding: 15px 0;
       /* Adjust padding */
     }

     .filter-bar .filter-button {
       /* Add any desktop-specific styles here */
       padding: 10px 20px;
       /* Example: different padding */
       margin-left: 10px;
       /* Add space between button and preceding elements */
     }

     /* Hamburger Menu Button */
     #hamburger-button {
       display: none;
       /* Hidden by default */
       font-size: 30px;
       /* Icon size */
       color: white;
       /* Icon color */
       background: none;
       /* No background */
       border: none;
       /* No border */
       cursor: pointer;
       /* Pointer cursor */
     }

     #hamburger-button-filter {
       display: none;
       /* Hidden by default */
       font-size: 20px;
       /* Icon size */
       color: white;
       /* Icon color */
       background-color: #111111;
       /* No background */
       border: none;
       /* No border */
       cursor: pointer;
       /* Pointer cursor */
     }

     /* Navigation Overlay */
     .nav-overlay {
       display: none;
       /* Hidden by default */
       position: fixed;
       /* Fixed position */
       width: 100%;
       /* Full width */
       height: 100%;
       /* Full height */
       top: 0;
       left: 0;
       background-color: rgba(0, 0, 0, 0.9);
       /* Semi-transparent black */
       overflow-x: hidden;
       /* Hide horizontal overflow */
       transition: 0.5s;
       /* Smooth transition for opening/closing */
       z-index: 1000;
       /* High z-index to ensure it's on top */
     }


     #filter-overlay {
       display: none;
       /* Hidden by default */
       position: fixed;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background-color: rgba(0, 0, 0, 0.9);
       overflow-x: hidden;
       /* Hide horizontal overflow */
       transition: 0.5s;
       z-index: 1000;
       align-items: center;
       /* Center content vertically */
       justify-content: center;
       /* Center content horizontally */
     }

     .nav-overlay-active .main-content {
       pointer-events: none;
     }



     /* Mobile Devices */
     @media only screen and (max-width: 1080px) {

       html,
       body {
         max-width: 100vw;
         /* Prevent horizontal overflow */
         overflow-x: hidden;
         /* Hide horizontal scrollbar */
       }

       #hamburger-button {
         display: block;
         /* Show the button on mobile */
       }

       #hamburger-button-filter {
         display: block;
         /* Show the button on mobile */
         width: 100%;
         /* Make it span the entire width of the screen */
         text-align: center;
         /* Center the icon/text inside the button */
         padding: 10px 0;
         /* Adjust padding as needed for better touch area */

       }

       .top-bar a .logo {
         margin-left: auto;
         /* Adjust logo position */
         margin-right: auto;
       }

       /* Specific styles for filter form in overlay */
       #filter-form-mobile {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        justify-content: center;
        padding: 20px;
        width: 100%; /* Use full width */
        max-width: 400px; /* Limit the maximum width */
        margin: auto; /* Center the form */
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }



       #filter-form-mobile .filter-button {
         padding: 15px 15px;
         background-color: #003056;
         /* Adjust the color as needed */
         color: white;
         border: none;
         border-radius: 30px;
         font-size: 16px;
         cursor: pointer;
         text-align: center;
         width: 100%;
         margin-top: 10px;
       }

       #filter-form-mobile .filter-button:hover {
         background-color: #004680;
         /* Darker shade for hover effect */
       }


       #filter-form-mobile #search {
         width: 100%;
         padding: 15px;
         /* Adjust padding if necessary */
         margin-bottom: 10px;
         /* Consistent margin with other fields */
         border-radius: 30px;
         /* Consistent border-radius with other fields */
         border: 1px solid #ccc;
         /* Consistent border */
         font-size: 16px;
         /* Consistent font size */
         box-sizing: border-box;
         /* Include padding and border in width */
       }

       #filter-form-mobile .filter-item {
         flex-direction: column;
         /* Stack elements vertically */
         align-items: center;
         /* Center items horizontally */
         width: 100%;
         /* Ensure each item takes full width */
         margin-bottom: 10px;
         /* Spacing between filter items */
       }



       .filter-input {
         width: 100%;
         /* Ensures full width */
         padding: 10px 15px;
         /* Consistent padding for all elements */
         border-radius: 5px;
         /* Consistent border-radius */
         border: 1px solid #ccc;
         /* Consistent border style */
         font-size: 16px;
         /* Consistent font size */
         box-sizing: border-box;
         /* Include padding and border in the element's total width and height */
       }

       /* Style for input and select elements in filter-form-mobile */
       #filter-form-mobile .filter-item input,
       #filter-form-mobile .filter-item select {
         width: 100%;
         outline: 5px solid #003056;
         padding: 15px;
         margin-bottom: 10px;
         border-radius: 30px;
         border: 1px solid #ccc;
         font-size: 16px;
         box-sizing: border-box;
       }

       /* Style for labels (titles) in filter-form-mobile */
       #filter-overlay #filter-form-mobile .filter-item label {
         display: block;
         font-weight: bold;
         font-size: 30px;
         /* Increased font size for clarity */
         margin-bottom: 5px;
         /* Space between label and field */
         text-align: center !important;
         /* Force center align the text */
       }

       /* Ensure filter bar is hidden on mobile */
       .filter-bar {
         display: none;
       }

       /* Additional styles for filter overlay to prevent overflow */
       #filter-overlay {
         overflow-y: auto;
         /* Enable vertical scrolling if needed */
       }

       #nav-links {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100%;
       }

       #nav-links a {
         padding: 20px;
         /* Larger clickable area */
         font-size: 24px;
         /* Larger font size */
       }
     }

     /* Mobile Devices */
     @media only screen and (max-width: 1080px) {

       html,
       body {
         max-width: 100vw;
         /* Prevent horizontal overflow */
         overflow-x: hidden;
         /* Hide horizontal scrollbar */
       }

       .top-bar {
         flex-direction: row;
         /* Align items horizontally */
         justify-content: space-between;
         /* Space between items */
         align-items: center;
         /* Vertically center items */
         padding: 10px 15px;
         /* Consistent padding */
       }

       .filter-bar {
         display: none;
       }

       .top-bar a {
         display: flex;
         /* Flex container for the logo */
         align-items: center;
         /* Vertically center logo */
         margin: 0;
         /* Remove any default margin */
       }

       .top-bar a .logo {
         max-width: 270px;
         /* Adjust logo size */
         max-height: 350px;
         /* Adjust height automatically */
       }

       #hamburger-button {
         display: block;
         /* Show the button on mobile */
         margin: 0;
         /* Remove any margin */
         align-self: center;
         /* Explicitly center the button vertically */
       }

       #hamburger-button-filter {
         display: block;
         /* Show the button on mobile */
         margin: 0;
         /* Remove any margin */
         align-self: center;
         /* Explicitly center the button vertically */
       }

       #nav-links {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100%;

         #nav-links a {
           padding: 20px;
           /* Padding for each link */
           font-size: 24px;
           /* Font size for links */
         }
       }
     }