@media all and (max-width: 1200px) and (min-width: 200px) {
  .page-title {font-size: 24px;}
}

body {
  font-family: MaisonNeue, Segoe UI, Helvetica Neue, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  color: black;
  margin: 0;
  padding: 0;
  background-image: url('background1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* This will fix the background image */

}

.leaflet-tile {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  /* Removes rounded corners */
}

.overlay-button {
  border-radius: 30px;
  padding: 15px;
  background-color: white;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}


.bottom-bar {
  background-color: #003056;
  /* Dark blue background */
  color: white;
  /* White text color */
  text-align: center;
  /* Center align text */
  padding: 1px 0;
  /* Padding on top and bottom */
  width: 100%;
  margin-top: 0px !important;
  /* Full width */
  box-sizing: border-box;
  /* Include padding in width calculation */
}



input[type="file"] {
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 0 !important; /* Remove left margin */
}

/* For Webkit browsers like Chrome and Safari */
input[type="file"]::-webkit-file-upload-button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    background-color: #003056; /* Set background color */
    color: white; /* Set text color to white for better visibility */
    font-size: 14px;
    font-weight: bold; /* Make text bold */
    margin-left: -1px; /* Adjust for any inherent margin/padding */
}

/* For Firefox */
input[type="file"]::file-selector-button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    background-color: #003056; /* Set background color */
    color: white; /* Set text color to white for better visibility */
    font-size: 14px;
    font-weight: bold; /* Make text bold */
    margin-left: -1px; /* Adjust for any inherent margin/padding */
}

/* LEAFLET MAP ICONS CSS */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-draw-circlemarker,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
  background-color: #f5f1e4 !important;
  /* Use variable */
  color: #000000 !important;
  /* Use variable */
  border: none !important;
  font-size: 18px !important;
  line-height: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.leaflet-disabled {
  background-color: #3a3a3a !important;
  color: #ffffff !important;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  /* Adjust the width of the scrollbar */
}

/* Styling the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f5f1e4;
  /* Light grey track */
  border-radius: 10px;
  /* Round corners of the track */
}

/* Styling the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  /* Black thumb */
}

/* Hover effect on the thumb of the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker shade of grey on hover */
}

#image-preview-container {
  width: 100%;
  /* Ensure the container takes the full width */
  max-width: 600px;
  /* Max width can be adjusted as needed */
  height: auto;
  /* Height will adjust based on content */
  margin: auto;
  /* Center the container */
  overflow: hidden;
  /* Hide overflow */
  overflow-y: auto;
  /* Enable vertical scrolling inside the container */

}

#image-preview {
  max-width: 100%;
  /* Image will scale within container */
  height: auto;
  /* Maintain aspect ratio */
}


img {
  transition: width 0.3s ease;
}

.logo {
  max-width: 1000px;
  /* Increase the max-width to make it bigger */
  margin-bottom: 30px;
}



.form-container {
  margin: 40px auto;
  width: 60%;
     background-color: #f5f1e4;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
}

.input-field {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

input[type="text"],
select,
#description-editor,
#benefit-editor {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

input[type="file"] {
  border: none;
}

@media only screen and (max-width: 1080px) {
#hamburger-button, #close-overlay-btn {
  display: block; /* Show the button on mobile */
  font-size: 30px; /* Icon size */
  color: white; /* Icon color */
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  margin: 0 auto; /* Center button */
  padding: 0; /* Remove padding */
}
}

#hamburger-button, #close-overlay-btn {
  display: none; /* Show the button on mobile */
}

@media only screen and (max-width: 1080px) {
  #hamburger-button, #close-overlay-btn {
    display: block; /* Ensure it's displayed on smaller screens */
    align-self: center; /* Center it in the nav bar */
  }
}

#close-overlay-btn {
  font-size: 30px; /* Match the size of the hamburger icon */
  position: absolute; /* Positioning it inside the overlay */
  top: 20px; /* Distance from the top */
}

.button {
  border-radius: 30px;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}

/* LEAFLET MAP ICON MISC CSS START */
.leaflet-bar>a:first-child {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}

.leaflet-bar>a:last-child {
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
}

/* LEAFLET MAP PILL CSS */
.leaflet-bar,
.leaflet-draw-section,
.leaflet-draw-section {
  border-radius: 30px !important;
  border: none;
  background-color: var(--leaflet-control-bg-dark) !important;
  /* Use variable */
}

.header-container {
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
  justify-content: space-between;
  /* Space out the header and the image */
}


















.info-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.info-image:hover {
  transform: scale(1) !important;
}

#replay-image {
  cursor: pointer;
  /* Resize to 30% of the original size */
  width: 30%;
  height: auto;
  /* Maintain aspect ratio */
  margin-top: 20px;
  /* Space between the video and replay button */

}

#replay-container {
  display: none;
  /* Initially hidden */
  align-items: center;
  /* Center the content horizontally */
  justify-content: center;
  /* Center the content vertically */
  flex-direction: row;
  /* Align children horizontally */
}


.video-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  padding: 10px;
  box-sizing: border-box;
}





/* Styling for the close button */
.video-overlay button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #003056;
  color: white;
  border-radius: 30px;
  transition: background-color 0.2s ease;
  margin-top: 40px;
  /* Space between the video and replay button */

}

/* Hover effect for the close button */
.video-overlay button:hover {
  transform: scale(1.02);
}

/* Base style for the iframe */
#youtube-iframe {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 30px;
  /* Rounded corners with a radius of 30px */

  /* Media queries to adjust width and height based on screen size */
  @media only screen and (min-width: 1025px) {
    width: 70vw;
    height: calc(70vw * 9 / 16);
    /* Maintain a 16:9 aspect ratio */
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 80vw;
    height: calc(80vw * 9 / 16);
    /* Maintain a 16:9 aspect ratio */
  }

  @media only screen and (max-width: 767px) {
    width: 90vw;
    height: calc(90vw * 9 / 16);
    /* Maintain a 16:9 aspect ratio */
  }
}













#map {
  width: 100%;
  /* Full width to ensure it expands properly */
  height: 500px;
  /* Fixed height, adjust as needed */
  min-height: 300px;
  /* Minimum height for smaller screens */
  margin: 0;
  /* Reset any default margin */
  padding: 0;
  /* Reset any default padding */
  border: 1px solid #ccc;
  /* Optional: adds a border for visibility */
  border-radius: 30px;
  /* Optional: if you want rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Optional: adds shadow for depth */
}

.publish-button {
  width: 100%;
  /* Full width */
  padding: 20px 0;
  /* Vertical padding */
  font-size: 20px;
  /* Font size */
  background-color: #003056;
  /* Background color */
  color: white;
  /* Text color */
  border-radius: 30px;
  /* Border radius */
  border: none;
  /* No border by default */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: width transform 0.3s ease;
  /* Smooth transition for transform and border */
}

.publish-button:hover {
  transform: scale(1.005);
  /* Scale up on hover */
}


.project img {
  max-width: 300px;
  /* Adjust the width as needed */
  max-height: 200px;
  /* Adjust the height as needed */
  height: auto;
  /* Maintain aspect ratio */
  width: auto;
  /* Maintain aspect ratio */
  border-radius: 30px;
  /* Optional: if you want rounded corners */
}

.top-bar {
  background-color: #003056;
  /* Background color of the top bar */
  height: 80px;
  /* Height of the top bar */
  width: 100%;
  /* Full width of the screen */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  /* Add padding to the left and right */
  box-sizing: border-box;
  /* Include padding in width calculation */
  align-items: center;
  /* This ensures vertical alignment */
}

.top-bar a .logo {
  max-width: auto;
  /* Adjust this value as needed */
  max-height: 80px;
  /* Ensure the logo fits within the bar's height */
  margin: auto;
}

/* Styles for buttons inside links in the top bar */
.top-bar a button {
  transition: width 0.3s ease;
  /* Transition for the transform property */
  border-radius: 30px;
  /* If you want to keep the border-radius */
  /* Add any other button-specific styles here */
}

/* Hover effect for buttons inside links in the top bar */



/* Hover effect for links in the top bar */
.top-bar a:not(:has(button)):hover::after {
  transform: scaleX(1);
  /* Show the underscore on hover */
  transform-origin: left;
}

.top-bar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  /* Add spacing between links */
  font-size: 18px;
  /* Increase text size */
  font-weight: bold;
  /* Make text bold */
  position: relative;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  /* Transition for color and text shadow */
}


/* Exclude the logo link from having the underline effect */
.top-bar a[href="/"]:hover::after {
  content: none;
}

/* Underline effect for links that do not contain the logo */
.top-bar a:not(:has(> .logo))::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

/* Additional styles for .logo to ensure it fits well in the top bar */
.top-bar a .logo {
  max-width: auto;
  /* Adjust this value as needed */
  max-height: 80px;
  /* Ensure the logo fits within the bar's height */
  margin: auto;
}

.top-bar a:hover {
  color: #a8c0ff;
  /* Change color on hover */
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  /* Add text shadow on hover */
}

.user-info {
  color: white;
  /* Set the text color to match other links */
  margin-right: 20px;
  /* Right margin for spacing */
  font-size: 18px;
  /* Font size similar to other links */
  font-weight: bold;
  /* Bold text */
  align-self: center;
  /* Align vertically within the flex container */
}

.top-bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

/* Hover effect for buttons inside links in the top bar */


.user-info {
  color: white;
  /* Set the text color to match other links */
  margin-right: 20px;
  /* Right margin for spacing */
  font-size: 18px;
  /* Font size similar to other links */
  font-weight: bold;
  /* Bold text */
  align-self: center;
  /* Align vertically within the flex container */
}

/* Underline effect for links that do not contain buttons */
.top-bar a:not(:has(> button))::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

/* Hover effect to show underline for links that do not contain buttons */
.top-bar a:not(:has(> button)):hover::after {
  transform: scaleX(1);
}

.index-image {
  width: 100%;
  object-fit: cover;
  /* Crop the image when necessary */
  max-height: 500px;
  /* Set a maximum height if needed */
  border-radius: 0;
  /* Remove border-radius */
  transition: none !important;
  /* Remove hover effect */
  transform: none !important;
}

.logged-in-info {
  text-align: center;
  /* Centers the text inside the div */
  padding: 2px 0;
  /* Adds some padding above and below the text */
  background-color: #f5f1e4;
  /* Optional: background color, if you want to highlight the div */
  /* Andere styling as needed, such as font size, color, etc. */
}


.cover-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  /* Black background with 70% opacity */
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.cover-text-container h1 {
  font-size: 40px;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

.cover-text-container p {
  font-size: 30px;
  color: white;
  margin: 0;
}

.info-box-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.info-box {
  background-color: #1b1b1b;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  transition: width 0.3s ease;
  width: 30%;
  /* Set a fixed width for each box */
}

.info-box:hover {
  transform: scale(1.005);
}

.info-box-icon {
  max-width: 70px;
  /* Icon size */
  border-radius: 50%;
  /* Make it circular */
}

.info-box-title {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}

.info-box-undertitle {
  color: white;
  font-size: 16px;
}

/* Specific colors for each box */
.box-red {
  background-color: #06467c;
}

.box-blue {
  background-color: #02569d;
}

.box-green {
  background-color: #2874A6;
}

.info-text-field {
  background-color: #e5e2d5;
  /* Light grey background */
  width: 100%;
  /* Full width */
  height: 400px;
  /* Specified height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  /* Include padding in width calculation */
}

.info-text-container {
  width: 50%;
  /* Width of the text container */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.info-text-title {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.info-text-undertitle {
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

@media only screen and (max-width: 1445px) {
  .top-bar a button {
    transition: width 0.3s ease;
    /* Transition for the transform property */
    border-radius: 30px;
    /* If you want to keep the border-radius */
    padding: 7px;
    /* Add any other button-specific styles here */
  }
}

#hamburger-button {
  display: none;
  /* Hidden by default */
}

@media only screen and (max-width: 1080px) {

  html,
  body {
    max-width: 100vw;
    /* Prevent horizontal overflow */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
  }

  #nav-links .user-info {
    display: block;
    /* Make it a block element */
    width: 100%;
    /* Full width */
    text-align: center;
    /* Center text horizontally */
    margin: 10px 0;
    /* Optional: adjust top and bottom margin as needed */
  }

  #map {
    height: 400px;
    /* Fixed height, adjust as needed */
  }

  .top-bar {
    width: 100%;
    /* Full width of the screen */
    display: flex;
    justify-content: space-between;
    /* Space items evenly */
    align-items: center;
    /* Center items vertically */
    padding: 0 10px;
    /* Padding on the sides */
    box-sizing: border-box;
    /* Include padding in width calculation */
  }

  .hamburger-menu {
    position: absolute;
    /* Adjust to absolute positioning */
    right: 10px;
    /* Align to the right with some space */
    top: 10px;
    /* Align to the top with some space */
    z-index: 1000;
    /* Ensure it's above other elements */
  }

  body {
    font-size: 17px;
    /* Smaller font size */
  }

  .top-bar {
    flex-direction: column;
    /* Stack items vertically */
    height: auto;
    /* Adjust height automatically */
  }

  .form-container {
    width: 100%;
    /* Full width with some margin */
margin: 0px;
margin-bottom: 0px !important;
border-radius: 0px;
  }

  .publish-button {
    font-size: 18px;
    /* Slightly smaller font size */
    padding: 15px 0;
    /* Adjust padding */
  }


  /* Hamburger Menu Button */
  #hamburger-button {
    display: none;
    /* Hidden by default */
    font-size: 30px;
    /* Icon size */
    color: white;
    /* Icon color */
    background: none;
    /* No background */
    border: none;
    /* No border */
    cursor: pointer;
    /* Pointer cursor */
  }

  /* Navigation Overlay */
  .nav-overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed position */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /* Semi-transparent black */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    transition: 0.5s;
    /* Smooth transition for opening/closing */
    z-index: 1000;
    /* High z-index to ensure it's on top */
  }

  .nav-overlay-active {
    display: block;
  }

  .nav-overlay-active .main-content {
    pointer-events: none;
  }

  /* Mobile Devices */
  @media only screen and (max-width: 1080px) {

    html,
    body {
      max-width: 100vw;
      /* Prevent horizontal overflow */
      overflow-x: hidden;
      /* Hide horizontal scrollbar */
    }

    .top-bar {
      width: 100%;
      /* Full width of the screen */
      display: flex;
      justify-content: space-between;
      /* Space items evenly */
      align-items: center;
      /* Center items vertically */
      padding: 0 10px;
      /* Padding on the sides */
      box-sizing: border-box;
      /* Include padding in width calculation */
    }

    .hamburger-menu {
      position: absolute;
      /* Adjust to absolute positioning */
      right: 10px;
      /* Align to the right with some space */
      top: 10px;
      /* Align to the top with some space */
      z-index: 1000;
      /* Ensure it's above other elements */
    }

    #hamburger-button {
      display: block;
      /* Show the button on mobile */
    }

    .top-bar a .logo {
      margin-left: auto;
      /* Adjust logo position */
      margin-right: auto;
    }

  #nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
	background-color: #003056;
  }

  #nav-links a {
    padding: 15px;
	
    /* Larger clickable area */
    font-size: 22px;
    /* Larger font size */
  }
}


@media only screen and (max-width: 1080px) {
  p {
    font-size: 18px; /* Increased font size for mobile */
  }

  .top-bar a {
  }

  .form-container label,
  .form-container input[type="text"],
  .form-container select,
  .form-container textarea {
    font-size: 20px; /* Larger font size for form elements */
	font-weight: bold;
  }
  
  

  .button,
  .publish-button {
  }

  #nav-links a {
    font-size: 22px; /* Larger font size for navigation links */
  }

  .info-box-title,
  .info-box-undertitle {
    font-size: 32px; /* Larger font size for info box titles */
    font-size: 18px; /* Larger font size for info box undertitles */
  }

  .cover-text-container h1,
  .cover-text-container p {
    font-size: 50px; /* Larger font size for cover text */
    font-size: 32px; /* Larger font size for cover text paragraphs */
  }

  .info-text-title,
  .info-text-undertitle {
    font-size: 32px; /* Larger font size for info text titles */
    font-size: 22px; /* Larger font size for info text undertitles */
  }
}

  /* Mobile Devices */
  @media only screen and (max-width: 1080px) {

    html,
    body {
      max-width: 100vw;
      /* Prevent horizontal overflow */
      overflow-x: hidden;
      /* Hide horizontal scrollbar */
    }

    .top-bar {
      width: 100%;
      /* Full width of the screen */
      display: flex;
      justify-content: space-between;
      /* Space items evenly */
      align-items: center;
      /* Center items vertically */
      padding: 0 10px;
      /* Padding on the sides */
      box-sizing: border-box;
      /* Include padding in width calculation */
    }

    .hamburger-menu {
      position: absolute;
      /* Adjust to absolute positioning */
      right: 10px;
      /* Align to the right with some space */
      top: 10px;
      /* Align to the top with some space */
      z-index: 1000;
      /* Ensure it's above other elements */
    }

    .top-bar {
      flex-direction: row;
      /* Align items horizontally */
      justify-content: space-between;
      /* Space between items */
      align-items: center;
      /* Vertically center items */
      padding: 10px 15px;
      /* Consistent padding */
    }

    .top-bar a {
      display: flex;
      /* Flex container for the logo */
      align-items: center;
      /* Vertically center logo */
      margin: 0;
      /* Remove any default margin */
    }

    .top-bar a .logo {
      max-width: 270px;
      /* Adjust logo size */
      max-height: 350px;
      /* Adjust height automatically */
    }

    #hamburger-button {
      display: block;
      /* Show the button on mobile */
      margin: 0;
      /* Remove any margin */
      align-self: center;
      /* Explicitly center the button vertically */
    }
    }

    