 
 
 
 
 
 
 ::-webkit-scrollbar {
     width: 12px;
     /* Adjust the width of the scrollbar */
   }

   /* Styling the track of the scrollbar */
   ::-webkit-scrollbar-track {
     background: #f5f1e4;
     /* Light grey track */
     border-radius: 10px;
     /* Round corners of the track */
   }

   /* Styling the thumb of the scrollbar */
   ::-webkit-scrollbar-thumb {
     background: #9b9b9b;
     /* Black thumb */
   }

   /* Hover effect on the thumb of the scrollbar */
   ::-webkit-scrollbar-thumb:hover {
     background: #555;
     /* Darker shade of grey on hover */
   }

html {
  height: -webkit-fill-available; /* For mobile browsers that support it, like Safari */
}

body {
  min-height: 100vh; /* Ensure the body covers at least the viewport height */
  min-height: -webkit-fill-available; /* For mobile browsers like Safari */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, MaisonNeue, Segoe UI, Helvetica Neue, -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: black;
  background-color: #f5f1e4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background covers the whole area */
  background-attachment: fixed; /* Keep the background fixed during scrolling */
  width: 100vw; /* Cover the full viewport width */
  
  /* Use viewport units for padding to include the safe area inset */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/* Additional styles for content within the body to respect the safe areas */
.content {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


.gdprConsent p {
			  text-align: center !important; /* Center align <p> text */
}
.form-section h3, .checkbox-section p {
		  text-align: center !important; /* Center align <p> text */
}

h3 {
	  text-align: center !important; /* Center align <p> text */
}

h2 {
	  text-align: center !important; /* Center align <p> text */
}

h1 {
	  text-align: center !important; /* Center align <p> text */
}
.gdprConsent p{
	  text-align: center !important; /* Center align <p> text */
}


p {
  text-align: center !important; /* Center align <p> text */
}


.form-container p {
  text-align: center !important; /* Center align <p> text */
}

.form-container {
  margin: auto; /* Center the container in the available space */
  background-color: #f5f1e4;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
  display: flex; /* Make form-container also a flex container */
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically (for when the container is taller than its content) */
  align-items: center; /* Center children horizontally */
  min-height: 50vh; /* Minimum height of the form container */
      word-wrap: break-word; /* This ensures long words will break and wrap onto the next line */

}

h3 {
	margin-bottom: 5px !important;
}



.form-container p {
  margin: 2px 0;
  /* Adjust the top and bottom margin as needed */
  text-align: left;
  /* Center align text */
}

.form-container .author-text {
  color: #003056;
  /* Set the text color */
  font-style: italic;
  /* Make the text cursive */
  margin-bottom: 30px;
}

.form-container h2.centered-title,
.form-container p.centered-title {
  margin: 2px 0;
  font-size: 15px;
  /* Adjust the top and bottom margin as needed */
  text-align: center;
  /* Center align text */
}




@media only screen and (max-width: 1080px) {


h3 {
	  margin-top: 2px; !important; /* Center align <p> text */
}

.form-container {
    width: 100%; /* Full width on smaller screens */
    padding: 30px;
    margin: 0px;
    margin-bottom: 0px !important;
    border-radius: 30px;
  }
    .form-container2 {
    width: 100%;
	margin-top: 20px !important;

padding: 30px;
margin: 0px;
margin-bottom: 0px !important;
border-radius: 0px;
  }
}

    .form-container {
        margin-top: 0px;
    }
	
	    .form-container2 {
        margin-top: 0px;
    }
	
	.form-container2 h1 {
    text-align: center; /* Centers the title within its container */
}

/* Ensure your existing .form-container2 styling does not conflict */
.form-container2 {
    text-align: center; /* Centers content horizontally */
    /* Add other styling as needed */
}

  

.form-container2 {
	    word-wrap: break-word; /* This ensures long words will break and wrap onto the next line */

    margin-top: 0px; /* Top and bottom margin as desired, auto left and right margins for centering */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
    width: 90%; /* Or any width you prefer */
    padding: 0px;
    border-radius: 30px;
    box-sizing: border-box; /* Ensures padding doesn't affect the final width */
    display: flex; /* Makes it a flex container */
    flex-direction: column; /* Aligns children elements vertically */
    align-items: center; /* Centers the child elements horizontally */
    justify-content: center; /* Centers the child elements vertically, useful if there's extra space */
}

.form-container2 {
    text-align: center; /* Centers content horizontally */
    /* Add other styling as needed */
}
  

.stat-box {
    background-color: #f5f5f5;
    width: 60%;
margin-left: 0px !important;
margin-right: 0px !important;

    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    word-wrap: break-word; /* This ensures long words will break and wrap onto the next line */
}


.project-thumbnail {
     background-color: #e5e2d5;
     border-radius: 30px;
     margin: 10px;
     padding: 10px;
     display: flex;
     /* Changed to flex to better control the layout */
     flex-direction: column;
     /* Stack items vertically */
     align-items: center;
     /* Center items horizontally */
     box-sizing: border-box;
     transition: width 0.3s ease;
     position: relative;
     overflow: visible;
     /* Ensure the content is not clipped */
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   transition: box-shadow 0.3s ease-out; /* Adjusted for shadow or other properties */
    will-change: auto; /* Default state, only specify if needed for performance */
    /* Removed transform scale to prevent blurriness */
}


   /* Hover effect for project thumbnails */
   .project-thumbnail:hover {
     transform: scale(1.005);
     transition: width 0.3s ease;
	     box-shadow: 0 10px 15px rgba(0,0,0,0.1); /* Example shadow */

   }

   /* Image style within project thumbnails */
   .project-thumbnail img {
     width: 90%;
     margin-top: 20px;
     height: 400px;
     /* Fixed height for images */
     object-fit: cover;
     border-radius: 30px;
   }

   /* Text style inside project thumbnails */
   .project-thumbnail h2,
   .project-thumbnail p {
     margin: 0;
     padding: 5px 0;
     width: 100%;
     /* Adjust the width to match the image */
     text-align: center;
     /* Center the text */
   }

   /* Remove absolute positioning from the description */
   .project-thumbnail p {
     position: relative;
     /* Changed from absolute to relative */
     bottom: auto;
     /* Remove bottom positioning */
     overflow: visible;
     /* Ensure text is not clipped */
   }

   /* Desktop screens (larger than 1200px) */
   @media (min-width: 1445px) {
     .project-thumbnail {
       width: calc(33.333% - 20px);
       /* Three items per row */
       height: auto;
       /* Height adjusts based on content */
     }
   }

   /* Medium screens (between 1024px and 1199px) */
   @media (min-width: 1080px) and (max-width: 1445px) {
     .project-thumbnail {
       width: calc(50% - 20px);
       /* Two items per row */
       height: auto;
       /* Height adjusts based on content */
     }
   }

   /* Mobile screens (less than 1024px) */
   @media (max-width: 1088px) {
     .project-thumbnail {
       width: calc(100% - 20px);
       /* Full width */
       height: auto;
       /* Height adjusts based on content */
     }

     .project-thumbnail img {
       height: auto;
       /* Adjust image height for mobile */
     }
   }
   
      .stats-container {
     text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }




@media (min-width: 1080px) and (max-width: 1445px) {
	.stat-box {
		flex-basis: calc(50% - 20px);
		/* For tablet */
	}
}

@media (max-width: 1080px) {
	.stat-box {
		flex-basis: 100%;
		/* For mobile */
	}
}
  
  
     




a {
color: #003056;
font-weight: bold;
}
.edge {
	margin: 20px;
}
.logo-container {
background-color: #003056;
/* Dark blue background */
border-radius: 80px;
/* Pill shape */
display: inline-flex;
justify-content: center;
margin-top: 10px !important;
/* 4px margin on all sides */
align-items: center;
margin-bottom: 10px;
padding: 5px 10px;
/* Adjust as needed */
cursor: pointer;
/* Change cursor to indicate clickable */
transition: width 0.3s ease;
/* Smooth transition for scaling */
}




.logo {
  width: 100%; /* Scales the logo width to fit its container */
  height: auto; /* Maintains the aspect ratio of the logo */
  max-height: 100px; /* Restricts the logo's height to ensure it fits well in the container. Adjust as necessary */
}

.container {
display: flex;
justify-content: space-between;
width: 90%;
align-items: flex-start;
/* Align the top of the sections */
}

.login-form {
max-width: 500px;
/* Adjust based on preference */
display: flex;
flex-direction: column;
align-items: flex-start;
/* Align items to the left */
}

.login-form input[type="text"],
.login-form input[type="password"] {
background-color: white;
border: solid #003056;
border-radius: 30px;
padding: 30px 25px;
margin-bottom: 10px;
width: 100%;
/* Full width of the container */
box-sizing: border-box;
/* Include padding in width calculation */
font-size: 18px;
/* Increased font size */
}

.login-section h1 {
text-align: left;
/* Align the heading to the left */
margin-left: 20px;
/* Adjust as needed for proper alignment */
}

.container {
display: flex;
flex-direction: column;
/* Stack content vertically */
justify-content: center;
/* Center content vertically */
align-items: center;
/* Center content horizontally */
width: 100%;
/* Full width */
margin: 0 auto;
/* Center the container */
}

.login-section,
.cover-section {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
/* Center items horizontally in both sections */
}

.button:hover,
.register-button:hover {
background-color: #004080;
/* Lighten up color on hover - adjust as needed */
transform: scale(1.005);
/* Scale up on hover */
}

.cover-section {
justify-content: center;
/* Center items vertically */
text-align: right;
/* Align text to the right */
}

.cover-image {
max-width: 100%;
height: 500px;
/* Keep height as 400px */
border-radius: 30px;
object-fit: cover;
/* Adjusts image to fit the div */
margin-bottom: 20px;
/* Space between image and text */
margin-left: 20px;
}






.button,
.register-button {
background-color: #003056;
/* Example color */
color: white;
border: none;
border-radius: 30px;
padding: 15px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px 0;
font-weight: bold;
cursor: pointer;
width: 100%;
/* Full width */
box-sizing: border-box;
/* Include padding in width */
}

.register-section {
text-align: center;
margin-top: 0;
/* Space above the section */
}

.register-section p {
margin: 5px 0;
/* Spacing for paragraph and undertitle */
}







.login-form {
max-width: 500px;
/* Adjust based on preference */
display: flex;
flex-direction: column;
align-items: flex-start;
/* Align items to the left */
}

.login-form input[type="text"],
.login-form input[type="password"] {
background-color: white;
border: solid #003056;
border-radius: 30px;
padding: 30px 25px;
margin-bottom: 10px;
width: 100%;
/* Full width of the container */
box-sizing: border-box;
/* Include padding in width calculation */
}

@media screen and (max-width: 480px) {
.logo-container {
    width: 80%;
    /* Reduce the width to 80% of the screen size */
    margin: 10px auto;
    /* Add more margin to the top and bottom */
}

.logo {
    max-width: 100%;
    /* Ensure the logo fits within the container */
    height: auto;
    /* Maintain aspect ratio */
}
}

/* Existing styles... */
@media screen and (max-width: 768px) {
.register-section {
    text-align: center;
    margin-top: 0px;
    /* Space above the section */
}

.logo {
    max-width: 300px !important;
    /* Ensure the logo fits within the container */
    height: auto;
    /* Maintain aspect ratio */
}

.container {
    flex-direction: column;
    /* Stack content vertically */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 5px 10px;
}

.button,
.register-button {
    padding: 10px 20px;
}

.cover-image {
    display: none;
    margin: auto;
    margin-bottom: 10px;
}
}

@media screen and (max-width: 480px) {


.logo-container {
    width: auto;
    /* Adjust to fit content */
    margin: 0 auto;
    /* Center horizontally */
    padding: 0; /* Reduces padding on smaller screens */
    /* Less padding for smaller screens */
}

.logo {
	    max-height: 80px; /* Slightly reduces the logo height on smaller screens */

    max-width: 100%;
    /* Ensure the logo is not wider than its container */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 5px 10px;
}

.button,
.register-button {
    font-size: 14px;
    padding: 8px 15px;
}

.cover-image {
    display: none;
    height: 200px;
}
}

.form-section input[type="text"],
.form-section input[type="password"],
.form-section input[type="date"],
.form-section input[type="email"] {
background-color: white;
border: solid #003056;
border-radius: 30px;
padding: 5px 10px;
margin-bottom: 2px;
width: 100%;
/* Full width of the container */
box-sizing: border-box;
/* Include padding in width calculation */
}

.form-section label {
display: block;
margin-bottom: 5px;
}

.register-button {
/* Similar styles to your login page buttons */
}

.informative-text {
font-size: 14px;
margin-top: 10px;
}

.form-section select {
background-color: white;
border: solid #003056;
border-radius: 30px;
padding: 10px 15px;
/* Adjust padding as needed */
margin-bottom: 10px;
width: 100%;
/* Full width of the container */
box-sizing: border-box;
/* Include padding in width calculation */
font-size: 16px;
/* Adjust font size as needed */
}

.phone-input-container {
display: flex;
align-items: center;
border: solid #003056;
border-radius: 30px;
padding: 5px;
}

.phone-prefix {
padding: 5px 10px;
background-color: #e9ecef;
/* Light grey background */
border-right: 1px solid #003056;
border-radius: 25px 0 0 25px;
/* Rounded left corners */
}

.phone-input-container input {
flex: 1;
border: none;
border-radius: 0 25px 25px 0;
/* Rounded right corners */
margin-left: 5px;
}