<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>GDPR</title>

</head>
<body>
  <div class ="edge">
<div class="form-container">
<div class="logo-container" onclick="window.location.href='/'">
  <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
</div>
        <form action="{{ url_for('confirm_registration') }}" method="post">
            <div class="checkbox-section">
               <p> <input type="checkbox" id="gdprConsent" name="gdprConsent" required>
                <label for="gdprConsent" style="text-align: center !important">Ich stimme der <a href="http://stimmungskompass.ermine.at/GDPR_DSGVO_Impressum#gdpr-section" target="_blank">Datenschutzerklärung</a> zu und erkenne diese an.</label>
          </p>  </div>
            <p class="informative-text">Außer Ihrem Benutzernamen wird nichts öffentlich angezeigt.</p>
            <p class="informative-text">Sie können Ihre Daten jederzeit in Ihren Profileinstellungen ansehen.</p>
            <button type="submit" class="register-button" style="font-weight: bold;">Registrieren</button>
        </form>
    </div>
 </div>

</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var backgroundNumber = Math.floor(Math.random() * 12) + 1; // Generates a random number between 1 and 12
    document.body.style.backgroundImage = 'url(/static/background' + backgroundNumber + '.png)';
  });
</script>