{% extends 'base.html' %}
{{ current_user.is_authenticated }}

{% block head_section %} 
<title>Stimmungskompass - Österreichische Plattform für partizipative Planung.</title>
<link rel="stylesheet" href="{{ url_for('serve_image', filename='index.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

<div id="ios-install-prompt" style="display:none;">
    <p>Stimmungskompass App verfügbar:</p>
    <p>Tippen Sie auf <img src="{{ url_for('serve_image', filename='share-icon.png') }}" alt="Teilen-Symbol">, dann "Zum Home-Bildschirm".</p>
    <button id="close-prompt">Schließen</button>
 </div>
{% endblock %}
{% block header %}
{% include '/partials/header/index.html' %}
{% endblock %}
{% block content %}
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="position: absolute; width: 0; height: 0;">
    <defs>
        <filter id="text-border-filter" x="-0.2" y="-0.2" width="1.4" height="1.4">
            <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="4"/>
            <feFlood flood-color="#000000" result="PINK"/>
            <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"/>
            <feMerge>
                <feMergeNode in="OUTLINE"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>
</svg>
<div class="index-image">
    <img alt="Index Title Image" class="index-image lazyload" data-src="{{ url_for('serve_image', filename='index_titleimage_big.webp') }}" style="max-width: 100%; height: auto;">
    <div class="cover-text-container">
        <h1>Verschönern Sie Ihre Stadt!</h1>
        <h2>Tragen Sie zu einer höheren Lebensqualität bei!</h2>
    </div>
</div>
<div class="info-box-container">
    <!-- Box 1 -->
    <div class="info-box box-red" onclick="redirectToStimmungskarte()" style="cursor: pointer; margin: 10px">
        <img src="{{ url_for('serve_image', filename='index_icon_map.png', width=50) }}" alt="Map Icon" class="info-box-icon">
        <h3 class="info-box-title">Karte</h3>
        <p class="info-box-undertitle">Posten Sie neue Notizen und sehen Sie sich andere Beiträge an, die andere Leute gepostet haben!</p>
    </div>
    <!-- Box 2 -->
    <div class="info-box box-blue" onclick="redirectToneuerbeitrag()" style="cursor: pointer; margin: 10px">
        <img alt="Public Icon" class="info-box-icon" src="{{ url_for('serve_image', filename='index_icon_public.png') }}">
        <h3 class="info-box-title">Machen Sie einen Vorschlag!</h3>
        <p class="info-box-undertitle">Teilen Sie Ihrer Stadt mit, welche Veränderungen oder Verbesserungen Sie sich wünschen!</p>
        <p class="info-box-undertitle">Aktuelle Projektvorschläge: <strong>{{ project_count }}</strong></p>
        <p class="info-box-undertitle">Aktuelle Notizen: <strong>{{ mapobject_count }}</strong></p>
    </div>
    <!-- Box 3 -->
    <div class="info-box box-green" onclick="redirectToList()" style="cursor: pointer; margin: 10px">
        <img alt="List Icon" class="info-box-icon" src="{{ url_for('serve_image', filename='index_icon_list.png') }}">
        <h3 class="info-box-title">Aktuelle Projektvorschläge</h3>
        <p class="info-box-undertitle">Stimmen Sie über Projektvorschläge ab und verhelfen Sie ihnen zum Erfolg!</p>
    </div>
</div>
<!-- Info text field with wrapped text container -->
<div class="info-text-field">
    <div class="info-text-container">
	<h1 class="h1-cs">Der Stimmungskompass ist eine Plattform für partizipative Planung.</h1>
        <p class="info-text-undertitle">Helfen Sie der Stadt bei Entscheidungen, die das öffentliche Leben betreffen. Teilen Sie Ihre Ideen und stimmen Sie über die Projektvorschläge anderer ab tragen Sie zur Verbesserung der Lebensqualität bei.</p>
    </div>
</div>
<!-- Featured Projects Section -->
<div class="stats-container">

    <div class="info-text-container">
    <h2>Ausgewählte Projekte:</h2>
   <p class="info-text-undertitle">Sehen Sie sich die Projektvorschläge an, die von der Stadt als interessant ausgewählt wurden.</p>
</div>
</div>

<div class="stats-container">
    {% if featured_projects %} {% for project in featured_projects %} 
    <div class="project-thumbnail" data-project-id="{{ project.id }}" onclick="window.location.href='{{ url_for('Partizipative_Planung_Vorschlag', project_id=project.id) }}'">
        <h2>{{ project.name }}</h2>
 <p class="project-date">
                    <strong>{{ project.date.strftime('%d.%m.%Y') }}</strong>,
                    Ansichten: <strong>{{ project.view_count }}</strong>
                </p>        <!-- Voting Bar -->
        <div class="voting-bar">
            {% if project.upvotes > 0 %} 
            <div class="upvotes" style="width: {{ project.upvote_percentage }}%;">
                <span>{{ project.upvotes }} 👍 </span>
            </div>
            {% endif %} {% if project.downvotes > 0 %} 
            <div class="downvotes" style="width: {{ project.downvote_percentage }}%;">
                <span>{{ project.downvotes }} 👎 </span>
            </div>
            {% endif %} 
        </div>
        <img src="{{ url_for('serve_image', filename='usersubmissions/' + project.image_file) }}" alt="{{ project.name }}">
        <div class="project-description">{{ project.descriptionwhy|safe }}</div>
    </div>
    {% endfor %} {% else %} 
    <p style="text-align: center;">Keine hervorgehobenen Projekte gefunden.</p>
    {% endif %} 
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Stimmungskompass, Plattform für partizipative Planung",
  "url": "https://www.stimmungskompass.at/",
  "description": "Stimmungskompass - Österreichische Plattform für partizipative Planung. Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!",
  "image": "https://www.stimmungskompass.at/static/facebook_card.png",
  "publisher": {
    "@type": "Organization",
    "name": "Stimmungskompass, Plattform für partizipative Planung",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.stimmungskompass.at/static/logo.png" // Replace with your actual logo URL
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.stimmungskompass.at/"
  }
}
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.project-thumbnail').forEach(projectThumbnail => {
        const upvotesElement = projectThumbnail.querySelector('.upvotes');
        const downvotesElement = projectThumbnail.querySelector('.downvotes');

        let upvotes = 0, downvotes = 0;

        if (upvotesElement) {
            upvotes = parseInt(upvotesElement.textContent.match(/\d+/) ? upvotesElement.textContent.match(/\d+/)[0] : "0");
        }

        if (downvotesElement) {
            downvotes = parseInt(downvotesElement.textContent.match(/\d+/) ? downvotesElement.textContent.match(/\d+/)[0] : "0");
        }

        // Adjust border-radius based on votes
        if (upvotes > 0 && downvotes > 0) {
            upvotesElement.style.borderTopLeftRadius = '30px';
            upvotesElement.style.borderBottomLeftRadius = '30px';
            downvotesElement.style.borderTopRightRadius = '30px';
            downvotesElement.style.borderBottomRightRadius = '30px';
        } else if (upvotes > 0 && downvotes === 0) {
            upvotesElement.style.borderRadius = '30px';
        } else if (downvotes > 0 && upvotes === 0) {
            downvotesElement.style.borderRadius = '30px';
        }
    });
});
</script>
<!-- This div extends the background color -->
{% endblock %}

{% block footer %}
{% include '/partials/footer/index.html' %}
{% endblock %}

{% block scripts %} {% include '/index/index.js' %}{% endblock %}