<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form action="{{ url_for('register') }}" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="phone_number" placeholder="Phone Number" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="surname" placeholder="Surname" required>
            <input type="date" name="dob" placeholder="Date of Birth" required>
            <textarea name="address" placeholder="Address (Street, house number, city, postal code)" required></textarea>
            <button type="submit" class="button">Register</button>
        </form>
    </div>
</body>
</html>