{% extends 'base.html' %}

{% block head_section %}
<title>Stimmungskompass - Österreichische Plattform für partizipative Planung.</title>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='Ueber_Partizipative_Planung.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
{% endblock %}

{% block header %}
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'Ueber_Partizipative_Planung/Ueber_Partizipative_Planung.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer/index.html' %}
{% endblock %}

{% block scripts %}
{% include 'Ueber_Partizipative_Planung/Ueber_Partizipative_Planung.js' %}
{% endblock %}

